
/* BEGIN Thin*/
@font-face {
  font-family: 'proxima_nova_thin';
  src: url('/fonts/proxima_nova/thin/proxima_nova_thin.eot');
  src: url('/fonts/proxima_nova/thin/proxima_nova_thin.eot?#iefix') format('embedded-opentype'),
  url('/fonts/proxima_nova/thin/proxima_nova_thin.woff') format('woff'),
  url('/fonts/proxima_nova/thin/proxima_nova_thin.ttf') format('truetype'),
  url('/fonts/proxima_nova/thin/proxima_nova_thin.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}
/* END Thin*/

/* BEGIN Light*/
@font-face {
  font-family: 'proxima_nova_light';
  src: url('/fonts/proxima_nova/light/proxima_nova_light.eot');
  src: url('/fonts/proxima_nova/light/proxima_nova_light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/proxima_nova/light/proxima_nova_light.woff') format('woff'),
  url('/fonts/proxima_nova/light/proxima_nova_light.ttf') format('truetype'),
  url('/fonts/proxima_nova/light/proxima_nova_light.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}
/* END Light*/

/* BEGIN Regular*/
@font-face {
  font-family: 'proxima_nova_regular';
  src: url('/fonts/proxima_nova/regular/proxima_nova_regular.eot');
  src: url('/fonts/proxima_nova/regular/proxima_nova_regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/proxima_nova/regular/proxima_nova_regular.woff') format('woff'),
  url('/fonts/proxima_nova/regular/proxima_nova_regular.ttf') format('truetype'),
  url('/fonts/proxima_nova/regular/proxima_nova_regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
/* END Regular*/

/* BEGIN Semibold*/
@font-face {
  font-family: 'proxima_nova_semibold';
  src: url('/fonts/proxima_nova/semibold/proxima_nova_semibold.eot');
  src: url('/fonts/proxima_nova/semibold/proxima_nova_semibold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/proxima_nova/semibold/proxima_nova_semibold.woff') format('woff'),
  url('/fonts/proxima_nova/semibold/proxima_nova_semibold.ttf') format('truetype'),
  url('/fonts/proxima_nova/semibold/proxima_nova_semibold.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
/* END Semibold*/

/* BEGIN Bold*/
@font-face {
  font-family: 'proxima_nova_bold';
  src: url('/fonts/proxima_nova/bold/proxima_nova_bold.eot');
  src: url('/fonts/proxima_nova/bold/proxima_nova_bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/proxima_nova/bold/proxima_nova_bold.woff') format('woff'),
  url('/fonts/proxima_nova/bold/proxima_nova_bold.ttf') format('truetype'),
  url('/fonts/proxima_nova/bold/proxima_nova_bold.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
/* END Bold*/

/* BEGIN Black*/
@font-face {
  font-family: 'proxima_nova_black';
  src: url('/fonts/proxima_nova/black/proxima_nova_black.eot');
  src: url('/fonts/proxima_nova/black/proxima_nova_black.eot?#iefix') format('embedded-opentype'),
  url('/fonts/proxima_nova/black/proxima_nova_black.woff') format('woff'),
  url('/fonts/proxima_nova/black/proxima_nova_black.ttf') format('truetype'),
  url('/fonts/proxima_nova/black/proxima_nova_black.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
/* END Black*/

/* BEGIN Plane Crash*/
@font-face {
  font-family: 'plane_crash';
  src: url('/fonts/plane_crash/plane_crash.eot');
  src: url('/fonts/plane_crash/plane_crash.eot?#iefix') format('embedded-opentype'),
  url('/fonts/plane_crash/plane_crash.woff') format('woff'),
  url('/fonts/plane_crash/plane_crash.ttf') format('truetype'),
  url('/fonts/plane_crash/plane_crash.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* END Plane Crash*/

/* BEGIN Steelfish*/
@font-face {
  font-family: 'steelfish_regular';
  src: url('/fonts/steelfish/regular/steelfish_regular.eot');
  src: url('/fonts/steelfish/regular/steelfish_regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/steelfish/regular/steelfish_regular.woff') format('woff'),
  url('/fonts/steelfish/regular/steelfish_regular.ttf') format('truetype'),
  url('/fonts/steelfish/regular/steelfish_regular.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* END Steelfish*/

/* BEGIN Spinwerad*/
@font-face {
  font-family: 'spinwerad_c';
  src: url('/fonts/spinwerad_c/spinwerad_c.eot');
  src: url('/fonts/spinwerad_c/spinwerad_c.eot?#iefix') format('embedded-opentype'),
  url('/fonts/spinwerad_c/spinwerad_c.woff') format('woff'),
  url('/fonts/spinwerad_c/spinwerad_c.ttf') format('truetype'),
  url('/fonts/spinwerad_c/spinwerad_c.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
/* END Spinwerad*/
