
/* BEGIN Light*/
@font-face {
  font-family: 'proxima_nova_light';
  src: url('/fonts/proxima_nova/light/proxima_nova_light.eot');
  src: url('/fonts/proxima_nova/light/proxima_nova_light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/proxima_nova/light/proxima_nova_light.woff') format('woff'),
  url('/fonts/proxima_nova/light/proxima_nova_light.ttf') format('truetype'),
  url('/fonts/proxima_nova/light/proxima_nova_light.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}
/* END Light*/

/* BEGIN Regular*/
@font-face {
  font-family: 'proxima_nova_regular';
  src: url('/fonts/proxima_nova/regular/proxima_nova_regular.eot');
  src: url('/fonts/proxima_nova/regular/proxima_nova_regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/proxima_nova/regular/proxima_nova_regular.woff') format('woff'),
  url('/fonts/proxima_nova/regular/proxima_nova_regular.ttf') format('truetype'),
  url('/fonts/proxima_nova/regular/proxima_nova_regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
/* END Regular*/

/* BEGIN Bold*/
@font-face {
  font-family: 'proxima_nova_bold';
  src: url('/fonts/proxima_nova/bold/proxima_nova_bold.eot');
  src: url('/fonts/proxima_nova/bold/proxima_nova_bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/proxima_nova/bold/proxima_nova_bold.woff') format('woff'),
  url('/fonts/proxima_nova/bold/proxima_nova_bold.ttf') format('truetype'),
  url('/fonts/proxima_nova/bold/proxima_nova_bold.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
/* END Bold*/

/* BEGIN Plane Crash*/
@font-face {
  font-family: 'plane_crash';
  src: url('/fonts/plane_crash/plane_crash.eot');
  src: url('/fonts/plane_crash/plane_crash.eot?#iefix') format('embedded-opentype'),
  url('/fonts/plane_crash/plane_crash.woff') format('woff'),
  url('/fonts/plane_crash/plane_crash.ttf') format('truetype'),
  url('/fonts/plane_crash/plane_crash.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
/* END Plane Crash*/
