@import "variables";

/*Buttons style START*/
  .btn {
    height: 42px;
    padding: 0 45px;
    font: 1.125rem proxima_nova_regular;
    line-height: 40px;
    border-radius: 0;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: none;
    z-index: 1;
    text-transform: uppercase;
    @include my_transition(0.3s);

    background: rgba(69,69,69,1);
    background: -moz-linear-gradient(top, rgba(69,69,69,1) 0%, rgba(77,76,77,1) 45%, rgba(31,26,28,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(69,69,69,1)), color-stop(45%, rgba(77,76,77,1)), color-stop(100%, rgba(31,26,28,1)));
    background: -webkit-linear-gradient(top, rgba(69,69,69,1) 0%, rgba(77,76,77,1) 45%, rgba(31,26,28,1) 100%);
    background: -o-linear-gradient(top, rgba(69,69,69,1) 0%, rgba(77,76,77,1) 45%, rgba(31,26,28,1) 100%);
    background: -ms-linear-gradient(top, rgba(69,69,69,1) 0%, rgba(77,76,77,1) 45%, rgba(31,26,28,1) 100%);
    background: linear-gradient(to bottom, rgba(69,69,69,1) 0%, rgba(77,76,77,1) 45%, rgba(31,26,28,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#1f1a1c', GradientType=0 );
  }

/*Buttons style END*/


input,
textarea {
  border: 1px solid $border_color;
  padding: 0 12px;
  width: 100%;
  background-color: transparent;
  color: $gray;
}
input {
  height: 42px;
}
textarea {
  height: 150px;
  padding: 12px;
  resize: none;
}
a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: $border_color !important;
}

