@import "variables";

/*Buttons style START*/
  .btn {
    height: 52px;
    padding: 0 25px;
    font: 1.125rem proxima_nova_light;
    line-height: 50px;
    border-radius: 0;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: none;
    z-index: 1;
    color: $beige;
    text-transform: uppercase;
    @include my_transition(0.3s);
    @include my_vertical_gradient;

    &:hover {
      color: $red;
    }
  }

/*Buttons style END*/


input,
textarea {
  border: 1px solid $border_color;
  padding: 0 12px;
  width: 100%;
  background-color: transparent;
  color: $gray;
}
input {
  height: 42px;
}
textarea {
  height: 150px;
  padding: 12px;
  resize: none;
}
a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: $border_color !important;
}

