$pink: #fadfc3;
$yellow: #ffffc5;
$beige: #edead9;
$gray: #7f7f7f;
$red: #ae3544;
$orange: #d5834e;
$blue-light: #08b8c3;
$green-blue: #009683;
$black: black;
$white: #fffaff;

$text_light_gray: #e5e5e5;
$border_color: #cccccc;
$error_color: #ff6666;
$success_color: #51bf6c;

$hamburger_speed: 200ms;
$hamburger_easing: cubic-bezier(0.7, 0, 0, 0.7);

@mixin my_gradient_bg($gradient_color) {
  background: -webkit-linear-gradient(transparent, $gradient_color);
  background: -moz-linear-gradient(transparent, $gradient_color);
  background: -o-linear-gradient(transparent, $gradient_color);
  background: linear-gradient(transparent, $gradient_color);
}
@mixin my_gradient_right_bg($gradient_color) {
  background: -webkit-linear-gradient(left, transparent, $gradient_color);
  background: -moz-linear-gradient(left, transparent, $gradient_color);
  background: -o-linear-gradient(left, transparent, $gradient_color);
  background: linear-gradient(left, transparent, $gradient_color);
}
@mixin my_gradient_left_bg($gradient_color) {
  background: -webkit-linear-gradient(to left, transparent, $gradient_color);
  background: -moz-linear-gradient(to left, transparent, $gradient_color);
  background: -o-linear-gradient(to left, transparent, $gradient_color);
  background: linear-gradient(to left, transparent, $gradient_color);
}
@mixin my_transform($transform_parameter) {
  -webkit-transform: $transform_parameter;
  -moz-transform: $transform_parameter;
  -ms-transform: $transform_parameter;
  -o-transform: $transform_parameter;
  transform: $transform_parameter;
}
@mixin my_transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin my_box_shadow($shadow_color) {
  -webkit-box-shadow: inset 10px 10px 300px 200px $shadow_color;
  -moz-box-shadow: inset 10px 10px 300px 200px $shadow_color;
  box-shadow: inset 10px 10px 300px 200px $shadow_color;
}
@mixin my_border_radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin my_display_flex {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
}
@mixin my_vertical_gradient {
  background: rgba(69,69,69,1);
  background: -moz-linear-gradient(top, rgba(69,69,69,1) 0%, rgba(77,76,77,1) 45%, rgba(31,26,28,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(69,69,69,1)), color-stop(45%, rgba(77,76,77,1)), color-stop(100%, rgba(31,26,28,1)));
  background: -webkit-linear-gradient(top, rgba(69,69,69,1) 0%, rgba(77,76,77,1) 45%, rgba(31,26,28,1) 100%);
  background: -o-linear-gradient(top, rgba(69,69,69,1) 0%, rgba(77,76,77,1) 45%, rgba(31,26,28,1) 100%);
  background: -ms-linear-gradient(top, rgba(69,69,69,1) 0%, rgba(77,76,77,1) 45%, rgba(31,26,28,1) 100%);
  background: linear-gradient(to bottom, rgba(69,69,69,1) 0%, rgba(77,76,77,1) 45%, rgba(31,26,28,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#1f1a1c', GradientType=0 );
}

@mixin header_border_gradient {
  background: rgba(49,85,117,1);
  background: -moz-linear-gradient(top, rgba(49,85,117,1) 0%, rgba(31,59,89,1) 37%, rgba(31,59,89,1) 48%, rgba(31,59,89,1) 67%, rgba(16,33,59,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(49,85,117,1)), color-stop(37%, rgba(31,59,89,1)), color-stop(48%, rgba(31,59,89,1)), color-stop(67%, rgba(31,59,89,1)), color-stop(100%, rgba(16,33,59,1)));
  background: -webkit-linear-gradient(top, rgba(49,85,117,1) 0%, rgba(31,59,89,1) 37%, rgba(31,59,89,1) 48%, rgba(31,59,89,1) 67%, rgba(16,33,59,1) 100%);
  background: -o-linear-gradient(top, rgba(49,85,117,1) 0%, rgba(31,59,89,1) 37%, rgba(31,59,89,1) 48%, rgba(31,59,89,1) 67%, rgba(16,33,59,1) 100%);
  background: -ms-linear-gradient(top, rgba(49,85,117,1) 0%, rgba(31,59,89,1) 37%, rgba(31,59,89,1) 48%, rgba(31,59,89,1) 67%, rgba(16,33,59,1) 100%);
  background: linear-gradient(to bottom, rgba(49,85,117,1) 0%, rgba(31,59,89,1) 37%, rgba(31,59,89,1) 48%, rgba(31,59,89,1) 67%, rgba(16,33,59,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#315575', endColorstr='#10213b', GradientType=0 );
}