html {
  font-size: 16px;
}
body {
  background-image: url("/img/bg_main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  font-family: proxima_nova_light;
  padding-bottom: 160px;
  color: $white;
}

p {
  a {
    color: $blue-light;
    &:hover {
      color: $blue-light;
    }
  }
}
.container-fluid {
  max-width: 1200px;
}
.my_row {
  margin: 0 -5px;
  .my_col {
    padding: 0 5px;
  }
}

.margin_bottom_20 {
  margin-bottom: 20px;
}
.margin_top_10 {
  margin-top: 10px;
}
.margin_top_20 {
  margin-top: 20px;
}

%header-border {
  content: '';
  height: 10px;
  position: absolute;
  width: 100%;
  @include header_border_gradient;
}

header {
  background-image: url("/img/bg_header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 70px 0 -20px;
  position: relative;
  z-index: 9999;
  .navbar.navbar-light {
    position: relative;
    background-color: transparent;
    padding: 20px 0 20px 270px;
    .navbar-brand {
      position: absolute;
      left: 0;
      top: -50px;
      z-index: 9;
      img {
        width: 250px;
      }
    }

    .navbar-nav {
      .nav-link {
        font-family: proxima_nova_light;
        line-height: 3rem;
        color: $white;
        text-transform: uppercase;
        font-size: 1.1rem;
        text-shadow: 1px 1px 5px #000000;
        letter-spacing: 2px;
        position: relative;
        &.active {
          font-family: proxima_nova_bold;
          &:before {
            content: '';
            width: 70px;
            height: 8px;
            background: url("/img/nav_selector.png") no-repeat;
            background-size: 100%;
            position: absolute;
            bottom: 10px;
            left: 50%;
            @include my_transform(translateX(-35px));
          }
        }
      }
    }

    .navbar-toggler {
      overflow: hidden;
      position: relative;
      float: right;
      padding: 9px 10px;
      margin-top: 8px;
      margin-right: 15px;
      margin-bottom: 8px;
      background-color: transparent;
      background-image: none;
      border: none;
      border-radius: 0;
      &:hover,
      &:focus,
      &:active {
        outline: none;
      }

      .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
      }
      .icon-bar {
        display: block;
        width: 40px;
        height: 2px;
        border-radius: 1px;
        background-color: #ffffff;
        //@include my_transition(opacity, transform);
        transition: opacity, transform;
        transition-duration: $hamburger_speed;
        transition-timing-function: $hamburger_easing;
        &+.icon-bar {
          margin-top: 10px;
        }
      }

      &[aria-expanded="true"] {
        .icon-bar {
          &:nth-child(1) {
            @include my_transform(translateY(12px) rotate(45deg));
            //transform: translateY(6px) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
            @include my_transform(translateX(-100%));
            //transform: translateX(-100%);
          }
          &:nth-child(3) {
            @include my_transform(translateY(-12px) rotate(-45deg));
            //transform: translateY(-6px) rotate(-45deg);
          }
        }
      }
    }
  }
}

section.carousel_section {
  margin-top: 60px;
  .homepage_carousel {
    .flickity-viewport {
      .flickity-slider {
        .carousel-cell {
          width: 100%;
          height: auto;
          background: black;
          border-radius: 0;
          position: relative;
          &:before {
            display: none;
          }
          img {
            width: 100%;
          }
          .caption {
            position: absolute;
            bottom: 120px;
            left: 40px;
            h1 {
              color: $white;
              font-family: сhunkfive_ex;
              margin: 0;
              text-transform: uppercase;
              text-shadow: 2px 2px 15px $black;
              .big {
                font-size: 6rem;
                letter-spacing: 12px;
                display: block;
                line-height: 1;
                height: 75px;
                margin: 10px 0;
              }
              .small {
                font-size: 3rem;
                line-height: 1;
                letter-spacing: 4px;
                display: block;
                color: $red;
                height: 40px;
              }
            }
          }
        }
      }
    }
    .flickity-prev-next-button {
      background: rgba($black, 0.75);
      width: 40px;
      height: 40px;
      &.next {
        right: 60px;
      }
      &.previous {
        right: 160px;
        left: initial;
      }
      &:hover {
        background: $black;
      }
      &:disabled {
        display: none;
      }
      .arrow {
        fill: $white;
      }
    }

  }
}

section.countdown_section {
  margin-top: 20px;
  .countdown_container {
    padding: 35px;
    .title_container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      img {
          max-width: 400px;
          width: 100%;
      }
      h4 {
        text-align: center;
        text-transform: uppercase;
        font-family: proxima_nova_black;
        font-size: 2.4rem;
        letter-spacing: 5px;
        position: relative;
        line-height: .9;
        color: $white;
        //span {
        //  background: rgba(191,153,113,1);
        //  background: -moz-linear-gradient(45deg, rgba(191,153,113,1) 0%, rgba(191,153,113,1) 40%, rgba(242,218,194,1) 53%, rgba(252,241,221,1) 63%, rgba(255,245,183,1) 77%, rgba(255,245,183,1) 100%);
        //  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(191,153,113,1)), color-stop(40%, rgba(191,153,113,1)), color-stop(53%, rgba(242,218,194,1)), color-stop(63%, rgba(252,241,221,1)), color-stop(77%, rgba(255,245,183,1)), color-stop(100%, rgba(255,245,183,1)));
        //  background: -o-linear-gradient(45deg, rgba(191,153,113,1) 0%, rgba(191,153,113,1) 40%, rgba(242,218,194,1) 53%, rgba(252,241,221,1) 63%, rgba(255,245,183,1) 77%, rgba(255,245,183,1) 100%);
        //  background: -ms-linear-gradient(45deg, rgba(191,153,113,1) 0%, rgba(191,153,113,1) 40%, rgba(242,218,194,1) 53%, rgba(252,241,221,1) 63%, rgba(255,245,183,1) 77%, rgba(255,245,183,1) 100%);
        //  background: -webkit-linear-gradient(45deg, rgba(191,153,113,1) 0%, rgba(191,153,113,1) 40%, rgba(242,218,194,1) 53%, rgba(252,241,221,1) 63%, rgba(255,245,183,1) 77%, rgba(255,245,183,1) 100%);
        //  -webkit-background-clip: text;
        //  -webkit-text-fill-color: transparent;
        //  position: absolute;
        //  width: 100%;
        //  top: 0;
        //  left: 0;
        //}
        //&:after {
        //  content: attr(title);
        //  text-shadow: 3px 4px 1px rgba(0, 0, 0, 0.75);
        //  color: transparent;
        //}
      }
    }
  }
}

section.tickets_section {
  .countdown_container {
    position: relative;
    .countdown {
      max-width: 790px;
      margin: 0 auto;
      padding: 100px 0;
    }
    h3 {
      font-family: proxima_nova_thin;
      font-size: 4rem;
      text-align: right;
      margin: 0;
    }
  }
}

.countdown_container {
  .countdown {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    .countdown_item {
      width: 25%;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}

section.posts_section {
  margin-top: 5px;
  color: white;
  .carousel_container {
    overflow: hidden;
    .posts_carousel {
      margin: 15px -5px 0;
      .carousel_item {
        padding: 0 5px;
        width: 33.3%;
      }
      .flickity-page-dots {
        top: -25px;
        bottom: initial;
        .dot {
          width: 14px;
          height: 14px;
          margin: 0 6px;
          opacity: .6;
          &.is-selected {
            opacity: .9;
          }
        }
      }
    }
  }
  .post_block {
    padding: 25px;
    .date_container {
      font-family: plane_crash;
      padding: 10px 5px;
      margin-right: 5px;
      text-align: center;
      @include my_vertical_gradient;
      font-size: 2.5rem;
      line-height: 1;
      &.month {
        font-size: 1.2rem;
      }
    }
    h5 {
      font-family: proxima_nova_bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0;
      line-height: 1;
      font-size: 1.5rem;
    }
    h6 {
      text-transform: uppercase;
      font-size: 1.1rem;
      letter-spacing: 1px;
      color: $brown;
      line-height: 1;
      margin-bottom: 5px;
    }
    p {
      font-family: proxima_nova_thin;
      font-size: 1rem;
      line-height: 1.1;
      margin: 0;
    }
    .social_links {
      text-align: right;
      position: absolute;
      top: -17px;
      right: -10px;
      display: table;
      line-height: 1;
      a {
        margin-right: 6px;
        font-size: 16px;
        line-height: 1;
        color: $gray;
        &:hover {
          color: $white;
        }
        &:last-of-type {
          margin: 0;
        }
      }
    }
  }
}

section.thumbnails_section {
  margin-top: 10px;
  .page_thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 325px;
    position: relative;
    margin-bottom: 10px;
    &.first {
      background-image: url("/img/thumbnails/thumbnail_1.png");
    }
    &.second {
      background-image: url("/img/thumbnails/thumbnail_2.png");
    }
    &.third {
      background-image: url("/img/thumbnails/thumbnail_3.png");
    }
    h2 {
      color: $white;
      text-transform: uppercase;
      font-family: proxima_nova_black;
      font-size: 2.6rem;
      line-height: 1;
      letter-spacing: 3px;
      position: absolute;
      bottom: 90px;
      left: 30px;
      margin: 0;
      span {
        color: $brown;
        display: block;
      }
    }
    .btn {
      position: absolute;
      bottom: 20px;
      left: 30px;
    }
  }
}

section.about_section {
  font-size: 1rem;
  img {
    width: 100%;
  }
  .about_container {
    p {
      font-family: proxima_nova_thin;
      line-height: 1.2;
      letter-spacing: 1px;
      font-size: 1.2rem;
    }
  }
}

section.gallery_section {
  .cbp-l-filters-alignCenter {
    margin: 0;
    padding: 30px 0;
    text-shadow: 0 2px 10px $black;
    //background-color: rgba(0,0,0,0.3);
    .cbp-filter-item {
      font-family: proxima_nova_light;
      color: $white;
      text-transform: uppercase;
      font-size: 0.95rem;
      margin: 0;
      line-height: 2;
      letter-spacing: 1px;
      &.cbp-filter-item-active {
        font-family: proxima_nova_semibold;
        color: $blue-light;
      }
    }
    span {
      font-family: proxima_nova_light;
      font-size: 1rem;
      line-height: 2rem;
    }
  }
  .cbp-item {
    border-radius: 6px;
    img {
      max-width: 400px;
      max-height: 400px;
    }

  }
  .cbp-caption-activeWrap {
    background-color: rgba(0,0,0, 0.7);
  }
}

section.editions_section {
  margin-top: 80px;
  .edition {
    background-color: $black;
    color: $white;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    .edition__info-container {
      padding: 25px 0 25px 30px;
    }
    .edition_title {
      font-family: proxima_nova_thin;
      font-size: 3.6rem;
      letter-spacing: 2px;
      margin: 0;
      .city {
        font-size: 1.35rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: block;
      }
      .year {
        font-family: proxima_nova_regular;
        color: $brown;
        font-size: 3.8rem;
      }
    }
    .edition_statistics {
      font-size: .7rem;
      text-transform: uppercase;
      line-height: 1;
      font-family: proxima_nova_thin;
      letter-spacing: 1px;
      span {
        font-family: proxima_nova_light;
        display: inline-block;
        padding: 2px 5px 0;
        border: 2px solid $brown;
        color: $brown;
        margin-right: 10px;
        letter-spacing: 0;
        font-size: 1rem;
        sup {
          font-size: .6rem;
        }
      }
    }
    .edition_description {
      color: $brown;
      font-size: 1.1rem;
      font-family: proxima_nova_thin;
      line-height: 1.2;
      letter-spacing: 1px;
    }
    .edition_person {
      line-height: 1;
      margin: 0 0 7px 0;
      font-size: 1.1rem;
      letter-spacing: 1px;
      span {
        color: $gray;
        margin-right: 7px;
      }
    }
    .edition__stars {
      padding-top: 5px;
      font-size: .8rem;
      color: $orange;
    }

    .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 58px;
      height: 0;
      overflow: hidden;
    }
    .video-container iframe,
    .video-container object,
    .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

section.contact_section {
  .contact_container {
    position: relative;
    form {
      button {
        margin: 30px 0 35px;
      }
    }
    .address {
      font-family: proxima_nova_thin;
      letter-spacing: 1px;
      line-height: 1.3;
      margin-bottom: 25px;
      font-size: 1.2rem;
    }
    .tel {
      font-family: proxima_nova_thin;
      margin-bottom: 0;
      font-size: 1.2rem;
    }
  }
}

section.press_section {
  .press_container {
    h2 {
      color: $brown;
      position: relative;
      letter-spacing: 1px;
      line-height: 1;
      margin-bottom: 20px;
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        max-width: 209px;
        background: $brown;
        position: absolute;
        bottom: -5px;
      }
    }
    .paragraph {
      max-width: 58%;
    }
    .download_link {
      float: left;
      margin-right: 15px;
      img {
        width: 40px;
      }
    }
    .article_block {
      margin-bottom: 20px;
      .article_img {
        background-size: cover;
        background-position: center;
        a {
          display: block;
          height: 180px;
        }
      }
      .article_info {
        padding: 15px;
        position: relative;
        h3 {
          font-family: proxima_nova_bold;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin: 0;
          line-height: 1;
          font-size: 1.5rem;
        }
        h4 {
          text-transform: uppercase;
          font-size: 1.1rem;
          letter-spacing: 1px;
          color: $brown;
          line-height: 1;
          margin-bottom: 5px;
        }
        p {
          line-height: 1;
          font-family: proxima_nova_thin;
          text-align: justify;
          font-size: .875rem;
          margin: 0;
        }
        .links_block {
          position: absolute;
          top: 15px;
          right: 15px;
          a {
            color: $blue_light;
            font-size: 20px;
            &:not(:last-child) {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
section.privacy_policy_section {
  .privacy_policy_container {
    padding: 90px 125px;
    background: rgba(#151515, .99);
    font-family: proxima_nova_thin;
    h1 {
      font-size: 3rem;
      margin: 0 0 20px;
    }
    h3 {
      font-size: 1.2rem;
      margin: 20px 0 10px;
      font-family: proxima_nova_regular;
    }
    p {
      font-size: .875rem;
    }
  }
}

.jeans_bg {
  background: url("/img/jeans_texture_plain.jpg") no-repeat center;
  background-size: cover;
}
.jeans_bg_ragged {
  background: url("/img/jeans_texture.png") no-repeat bottom;
  background-size: cover;
  position: relative;
  padding: 90px 125px;
}
.jeans_bg_big {
  background: url("/img/jeans_texture_plain.jpg") repeat-y;
  background-size: cover;
  position: relative;
  padding: 90px 125px;
}
.img_container {
  //margin-bottom: -20px;
  img {
    width: 100%;
  }
}
.title--translated {
  font-family: proxima_nova_thin;
  font-size: 11rem;
  position: absolute;
  top: -115px;
  left: 125px;
  margin: 0;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 45px 0 20px;
  background: url("/img/bg_footer.png") top no-repeat;
  background-size: cover;
  z-index: 999;
  p {
    margin: 0;
    color: $white;
    font-size: 0.875rem;
    text-align: right;
    font-family: proxima_nova_thin;
    display: inline-block;
    float: right;
    a {
      color: $white;
      text-decoration: none;
      margin-left: 5px;
      &:not(.social):hover {
        text-decoration: none;
        color: $white;
        border-bottom: 1px solid $white;
      }
      &.social {
        font-size: 26px;
        line-height: 16px;
        display: inline-block;
        transform: translateY(5px);
        &:hover {
          color: $white;
          transform: scale(1.2) translateY(4px);
        }
      }
    }
  }

  .links_list {
    list-style: none;
    float: right;
    padding: 0 0 0 20px;
    margin: 0;
    transform: translateY(-12px);
    li {
      display: inline-block;
      padding: 0 5px;
      &:nth-child(3) {
        border-right: 2px solid $white;
        padding-right: 10px;
      }
      &:nth-child(4) {
        padding-left: 10px;
      }

      a {
        color: $white;
        text-decoration: none;
        display: inline-block;
        &.social {
          font-size: 26px;
          transform: translateY(5px);
          &:hover {
            color: $white;
            transform: scale(1.2) translateY(4px);
          }
        }
        &.lang {
          transform: translateY(-2px);
          opacity: .5;
          &:hover {
            transform: scale(1.2) translateY(-2px);
            opacity: .75;
          }
          &.active {
            opacity: 1;
          }
        }
        img {
          width: 26px;
        }
      }
    }
  }
}


//body{text-align:center;font-family: 'Open Sans', sans-serif;}
//svg{width:30%;}