body {
  background-image: url("/img/bg_main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  font-family: proxima_nova_light;
  padding-bottom: 130px;
  color: $white;
}

.container-fluid {
  max-width: 1200px;
}
.my_row {
  margin: 0 -5px;
  .my_col {
    padding: 0 5px;
  }
}

.margin_bottom_20 {
  margin-bottom: 20px;
}
.margin_top_10 {
  margin-top: 10px;
}
.margin_top_20 {
  margin-top: 20px;
}

%header-border {
  content: '';
  height: 10px;
  position: absolute;
  width: 100%;
  @include header_border_gradient;
}

header {
  background-image: url("/img/bg_header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 70px 0 0;
  position: relative;

  &:before{
    @extend %header-border;
    top: 0;
  }
  &:after{
    @extend %header-border;
    bottom: 0;
  }
  .navbar.navbar-light {
    position: relative;
    background-color: transparent;
    padding: 20px 0 20px 230px;
    .navbar-brand {
      position: absolute;
      left: 0;
      top: -20px;
      z-index: 9;
      img {
        width: 215px;
      }
    }

    .navbar-nav {
      .nav-link {
        font-family: proxima_nova_light;
        line-height: 3rem;
        color: $white;
        text-transform: uppercase;
        font-size: 0.95rem;
        letter-spacing: 1px;
        position: relative;
        &.active {
          font-family: proxima_nova_bold;
          &:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 17px 24px 17px;
            border-color: transparent transparent $blue-light transparent;
            position: absolute;
            bottom: -10px;
            left: 50%;
            @include my_transform(translateX(-17px));
          }
        }
      }
    }

    .navbar-toggler {
      overflow: hidden;
      position: relative;
      float: right;
      padding: 9px 10px;
      margin-top: 8px;
      margin-right: 15px;
      margin-bottom: 8px;
      background-color: transparent;
      background-image: none;
      border: none;
      border-radius: 0;
      &:hover,
      &:focus,
      &:active {
        outline: none;
      }

      .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
      }
      .icon-bar {
        display: block;
        width: 40px;
        height: 2px;
        border-radius: 1px;
        background-color: #ffffff;
        //@include my_transition(opacity, transform);
        transition: opacity, transform;
        transition-duration: $hamburger_speed;
        transition-timing-function: $hamburger_easing;
        &+.icon-bar {
          margin-top: 10px;
        }
      }

      &[aria-expanded="true"] {
        .icon-bar {
          &:nth-child(1) {
            @include my_transform(translateY(12px) rotate(45deg));
            //transform: translateY(6px) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
            @include my_transform(translateX(-100%));
            //transform: translateX(-100%);
          }
          &:nth-child(3) {
            @include my_transform(translateY(-12px) rotate(-45deg));
            //transform: translateY(-6px) rotate(-45deg);
          }
        }
      }
    }
  }
}

section.carousel_section {
  .homepage_carousel {
    .flickity-viewport {
      .flickity-slider {
        .carousel-cell {
          width: 100%;
          height: auto;
          background: black;
          border-radius: 0;
          position: relative;
          &:before {
            display: none;
          }
          img {
            width: 100%;
          }
          .caption {
            position: absolute;
            bottom: 100px;
            left: 40px;
            h1 {
              color: $blue-light;
              font-family: spinwerad_c;
              margin: 0;
              text-transform: uppercase;
              .big {
                font-size: 10rem;
                display: block;
                color: $beige;
                line-height: 1;
              }
              .small {
                font-size: 4rem;
                line-height: 1;
                display: block;
                transform: translateY(-25px);
              }
            }
          }
        }
      }
    }
    .flickity-prev-next-button {
      background: rgba($blue-light, 0.75);
      width: 60px;
      height: 60px;
      &.next {
        right: 60px;
      }
      &.previous {
        left: 60px;
      }
      &:hover {
        background: $blue-light;
      }
      &:disabled {
        opacity: 0.7;
      }
      .arrow {
        fill: $pink;
      }
    }

  }
}

section.countdown_section {
  margin-top: 15px;
  .countdown_container {
    padding: 30px;
    .title_container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      img {
          max-width: 400px;
          width: 100%;
      }
    }
    .countdown {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0 50px 0 0;
      .countdown_item {
        //display: inline-block;
        width: 25%;
      }
    }
  }
}

section.posts_section {
  margin-top: 15px;
  color: white;
  .carousel_container {
    overflow: hidden;
    .posts_carousel {
      margin: 30px -5px 0;
      .carousel_item {
        padding: 0 5px;
        width: 33.3%;
      }
      .flickity-page-dots {
        top: -25px;
        bottom: initial;
        .dot {
          width: 14px;
          height: 14px;
          margin: 0 6px;
          opacity: .6;
          &.is-selected {
            opacity: .9;
          }
        }
      }
    }
  }
  .post_block {
    padding: 25px;
    .date_container {
      font-family: plane_crash;
      padding: 10px 5px;
      margin-right: 5px;
      text-align: center;
      @include my_vertical_gradient;
      font-size: 1.7rem;
      line-height: 1;
      &.month {
        font-size: 1rem;
      }
    }
    h5 {
      font-family: proxima_nova_black;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0;
      line-height: 1;
    }
    h6 {
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $blue-light;
      line-height: 1;
      margin-bottom: 5px;
    }
    p {
      font-family: proxima_nova_thin;
      font-size: 0.8rem;
      line-height: 1.1;
      margin: 0 0 0 5px;
    }
    .social_links {
      text-align: right;
      position: absolute;
      top: -20px;
      right: -10px;
      display: table;
      line-height: 1;
      a {
        margin-right: 6px;
        font-size: 14px;
        line-height: 1;
        color: $gray;
        &:hover {
          color: $white;
        }
        &:last-of-type {
          margin: 0;
        }
      }
    }
  }
}

section.thumbnails_section {
  margin-top: 30px;
  .page_thumbnail {
    background: url("/img/thumbnail.jpg") no-repeat center;
    background-size: cover;
    height: 325px;
    position: relative;
    margin-bottom: 10px;
    h2 {
      color: $white;
      text-transform: uppercase;
      font-family: proxima_nova_black;
      font-size: 2.3rem;
      line-height: 1;
      letter-spacing: 2px;
      position: absolute;
      bottom: 90px;
      left: 30px;
      margin: 0;
      span {
        color: $blue-light;
        display: block;
      }
    }
    .btn {
      position: absolute;
      bottom: 20px;
      left: 30px;
    }
  }
}

section.about_section {
  font-size: 1rem;
  img {
    width: 100%;
  }
  .about_container {
    padding: 90px 125px;
    position: relative;
    p {
      line-height: 1.3;
      letter-spacing: 1px;
    }
  }
}

section.gallery_section {
  .cbp-l-filters-alignCenter {
    margin: 0;
    padding: 30px 0;
    text-shadow: 0 2px 10px $black;
    //background-color: rgba(0,0,0,0.3);
    .cbp-filter-item {
      font-family: proxima_nova_light;
      color: $white;
      text-transform: uppercase;
      font-size: 0.95rem;
      margin: 0;
      line-height: 2;
      letter-spacing: 1px;
      &.cbp-filter-item-active {
        font-family: proxima_nova_semibold;
        color: $blue-light;
      }
    }
    span {
      font-family: proxima_nova_light;
      font-size: 1rem;
      line-height: 2rem;
    }
  }
  .cbp-item {
    border-radius: 6px;
    img {
      max-width: 400px;
      max-height: 400px;
    }

  }
  .cbp-caption-zoom {
    .cbp-caption-activeWrap {
      background-color: rgba(0,0,0, 0.7);
    }
  }
}

section.editions_section {
  margin-top: 80px;
  .edition {
    background-color: $black;
    color: $white;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    .edition__info-container {
      padding: 25px 30px;
    }
    .edition_title {
      font-family: proxima_nova_thin;
      font-size: 2.8rem;
      letter-spacing: 2px;
      margin: 0;
      .city {
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: block;
      }
      .year {
        font-family: proxima_nova_semibold;
        color: $blue-light;
        font-size: 3rem;
      }
    }
    .edition_statistics {
      font-size: .6rem;
      text-transform: uppercase;
      line-height: 1;
      font-family: proxima_nova_thin;
      letter-spacing: 1px;
      span {
        font-family: proxima_nova_light;
        display: inline-block;
        padding: 4px 7px 2px;
        border: 1px solid $green-blue;
        color: $blue-light;
        margin-right: 10px;
        letter-spacing: 0;
        sup {
          font-size: .4rem;
        }
      }
    }
    .edition_description {
      color: $blue-light;
      font-family: proxima_nova_thin;
      line-height: 1.2;
      letter-spacing: 1px;
    }
    .edition_person {
      line-height: 1;
      margin: 0 0 7px 0;
      letter-spacing: 1px;
      span {
        color: $gray;
        margin-right: 7px;
      }
    }
    .edition__stars {
      padding-top: 5px;
      font-size: .8rem;
      color: $orange;
    }

    .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 58px;
      height: 0;
      overflow: hidden;
    }
    .video-container iframe,
    .video-container object,
    .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

section.contact_section {
  .contact_container {
    padding: 90px 125px;
    position: relative;
    form {
      button {
        margin: 50px 0;
      }
    }
    .address {
      letter-spacing: 1px;
      line-height: 1.3;
      margin-bottom: 25px;
    }
    .tel {
      margin-bottom: 0;
    }
  }
}

.jeans_bg {
  background: url("/img/jeans_texture.jpg") no-repeat center;
  background-size: cover;
}
.img_container {
  img {
    width: 100%;
  }
}
.title--translated {
  font-family: proxima_nova_thin;
  font-size: 8rem;
  position: absolute;
  top: -80px;
  left: 125px;
  margin: 0;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 45px 0 30px;
  background: url("/img/bg_header.png") top no-repeat;
  background-size: cover;
  z-index: 999;
  &:before{
    @extend %header-border;
    top: 0;
  }

  p {
    margin: 0;
    color: $white;
    font-size: 0.875rem;
    text-align: right;
    font-family: proxima_nova_thin;
    a {
      color: $white;
      text-decoration: none;
      margin-left: 5px;
      &:hover {
        text-decoration: none;
        color: $white;
        border-bottom: 1px solid $white;
      }
    }
  }
}


//body{text-align:center;font-family: 'Open Sans', sans-serif;}
//svg{width:30%;}