@media screen and ( min-width: 1300px ) {

}

@media screen and ( max-width: 1199px ) {
  header {
    .navbar.navbar-light {
      padding-left: 190px;
      .navbar-brand {
        top: -30px;
        img {
          width: 180px;
        }
      }
      .navbar-nav {
        .nav-link {
          font-size: 0.875rem;
        }
      }
    }
  }
}

@media screen and ( max-width: 991px ) {
  header {
    .navbar.navbar-light {
      justify-content: flex-end;
      padding-left: 0;
      .navbar-nav {
        flex-direction: row;
        margin-top: 30px;
        justify-content: center;
        .nav-link {
          margin-right: 13px;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
  section.carousel_section {
    .homepage_carousel {
      .flickity-prev-next-button {
        width: 50px;
        height: 50px;
      }
    }
  }
  section.countdown_section {
    .countdown_container {
      .ticket_container {
        img#arrow {
          width: 120px;
        }
      }
    }
  }
  section.posts_section {
    .post_block {
      padding: 15px;
      .date_container {
        font-size: 1rem;
        &.month {
          font-size: 0.65rem;
        }
      }
      p {
        font-size: 0.75rem;
        margin: 0;
      }
    }
  }
  section.thumbnails_section {
    .page_thumbnail {
      height: 225px;
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and ( min-width: 768px ) and ( max-width: 991px ) {

}

@media screen and ( max-width: 767px ) {
  header {
    .navbar.navbar-light {
      .navbar-nav {
        flex-direction: column;
        .nav-link {
          margin-right: 0;
          text-align: center;
          line-height: 1rem;
        }
      }
    }
  }
  section.carousel_section {
    .homepage_carousel {
      .flickity-prev-next-button {
        width: 40px;
        height: 40px;
        &.previous {
          left: 30px;
        }
        &.next {
          right: 30px;
        }
      }
    }
  }
  section.countdown_section {
    .countdown_container {
      .ticket_container {
        padding: 0 0 0 15px;
        img#arrow {
          width: 100px;
        }
      }
      .countdown {
        padding: 0 15px 0 0;
      }
    }
  }
  section.posts_section {
    .carousel_container {
      .posts_carousel {
        .carousel_item {
          width: 50%;
        }
      }
    }
  }
}

@media screen and ( min-width: 544px) and (max-width: 767px) {

}

@media screen and ( max-width: 575px ) {
  header {
    .navbar.navbar-light {
      padding: 20px 0 25px 0;
      .navbar-brand {
        top: 10px;
        img {
          width: 130px;
        }
      }
      .navbar-toggler {
        top: 10px;
      }
      .navbar-nav {
        flex-direction: column;
        .nav-link {
          margin-right: 0;
          text-align: center;
          line-height: 1rem;
        }
      }
    }
  }
  section.carousel_section {
    .homepage_carousel {
      .flickity-prev-next-button {
        width: 30px;
        height: 30px;
        &.previous {
          left: 15px;
        }
        &.next {
          right: 15px;
        }
      }
    }
  }

  section.posts_section {
    .carousel_container {
      .posts_carousel {
        .carousel_item {
          width: 100%;
        }
      }
    }
  }
}


@media screen and ( max-width: 400px ) {

}


