@media screen and ( min-width: 1300px ) {

}

@media screen and ( max-width: 1199px ) {
  header {
    .navbar.navbar-light {
      padding-left: 190px;
      .navbar-brand {
        top: -30px;
        img {
          width: 180px;
        }
      }
      .navbar-nav {
        .nav-link {
          font-size: 0.875rem;
        }
      }
    }
  }
  section.countdown_section {
    .countdown_container {
      .title_container {
        h4 {
          font-size: 2rem;
        }
      }
    }
  }
  section.posts_section {
    .post_block {
      .date_container {
        font-size: 2rem;
        margin-right: 0;
        &.month {
          font-size: 1.2rem;
        }
      }
    }
  }

  section.editions_section {
    .edition {
      .edition_title {
        font-size: 2.6rem;
        .year {
          font-size: 2.8rem;
        }
      }
      .edition_description {
        font-size: 1rem;
        line-height: 1.1;
      }
      .edition_person {
        margin-bottom: 3px;
      }
      .video-container {
        padding-top: 90px;
      }
    }
  }
}

@media screen and ( max-width: 991px ) {
  header {
    .navbar.navbar-light {
      justify-content: flex-end;
      padding-left: 0;
      .navbar-nav {
        flex-direction: row;
        margin-top: 30px;
        justify-content: center;
        .nav-link {
          margin-right: 13px;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
  section.carousel_section {
    .homepage_carousel {
      .flickity-prev-next-button {
        width: 50px;
        height: 50px;
      }
      .flickity-viewport {
        .flickity-slider {
          .carousel-cell {
            .caption {
              bottom: 40px;
              left: 40px;
              h1 {
                .small {
                  font-size: 2rem;
                  height: 25px;
                }
                .big {
                  font-size: 4rem;
                  height: 50px;
                }
              }
            }
          }
        }
      }
    }
  }
  section.countdown_section {
    .countdown_container {
      .title_container {
        h4 {
          font-size: 1.5rem;
        }
      }
    }
  }
  section.posts_section {
    .post_block {
      .date_container {
        font-size: 1.3rem;
        margin-right: 0;
        &.month {
          font-size: 0.75rem;
        }
      }
      p {
        font-size: 0.75rem;
        margin: 0;
      }
    }
  }
  section.thumbnails_section {
    .page_thumbnail {
      height: 225px;
      h2 {
        font-size: 1.5rem;
      }
    }
  }
  section.editions_section {
    .edition {
      .video-container {
        padding-top: 160px;
      }
    }
  }
  section.tickets_section {
    .countdown_container {
      .countdown {
        padding: 45px 0 60px;
      }
      h3 {
        font-size: 3rem;
      }
    }
  }
  section.privacy_policy_section {
    .privacy_policy_container {
      padding: 85px
    }
  }
  .title--translated {
    font-size: 8rem;
    top: -85px;
    left: 85px;
  }
  .jeans_bg_ragged {
    padding: 85px
  }
}

@media screen and ( min-width: 768px ) and ( max-width: 991px ) {

}

@media screen and ( max-width: 767px ) {
  header {
    margin-top: 40px;
    .navbar.navbar-light {
      .navbar-nav {
        margin: 0 0 40px;
        flex-direction: column;
        .nav-link {
          margin-right: 0;
          text-align: center;
          line-height: 1rem;
          &.active:before {
            bottom: 0;
          }
        }
      }
    }
  }
  section.carousel_section {
    .homepage_carousel {
      .flickity-prev-next-button {
        width: 40px;
        height: 40px;
        &.next {
          right: 45px;
        }
        &.previous {
          right: 115px;
        }
      }
      .flickity-viewport {
        .flickity-slider {
          .carousel-cell {
            .caption {
              bottom: 15px;
              left: 25px;
              h1 {
                .big {
                  font-size: 3rem;
                  letter-spacing: 8px;
                  height: 37px;
                }
              }
            }
          }
        }
      }
    }
  }
  section.countdown_section {
    .countdown_container {
      .ticket_container {
        padding: 0 0 0 15px;
        img#arrow {
          width: 100px;
        }
      }
      .countdown {
        padding: 0;
        margin: 0 auto;
      }
    }
  }
  section.posts_section {
    .carousel_container {
      .posts_carousel {
        .carousel_item {
          width: 50%;
        }
      }
    }
  }
  section.about_section {
    .about_container {
      p {
        font-size: 1rem;
        line-height: 1.1;
      }
    }
  }
  section.editions_section {
    margin-top: 60px;
    .edition {
      .edition__info-container {
        padding: 25px;
      }
      .video-container {
        padding-top: 0;
      }
    }
  }
  section.tickets_section {
    .countdown_container {
      .countdown {
        padding: 30px 0 30px;
      }
      h3 {
        font-size: 2rem;
      }
    }
  }
  section.press_section {
    .press_container {
      .paragraph {
        max-width: 100%;
      }
    }
  }
  section.contact_section {
    .contact_container {
      form button {
        margin-top: 15px;
      }
      .address {
        font-size: 1rem;
      }
      .tel {
        font-size: 1rem;
      }
    }
  }
  section.privacy_policy_section {
    .privacy_policy_container {
      padding: 50px
    }
  }
  .title--translated {
    font-size: 5rem;
    top: -50px;
    left: 50px;
  }
  .jeans_bg_ragged {
    padding: 50px
  }
  .form_group {
    .form_el_label {
      font-size: 1rem;
    }
    .form_placeholder {
      font-size: .75rem;
    }
  }
  .btn_beige {
    font-size: 1.2rem;
    height: 50px;
  }
}

@media screen and (max-width: 885px) {
  section.gallery_section {
    .cbp-caption-activeWrap {
      display: none;
    }
  }
}

@media screen and ( max-width: 575px ) {
  body {
    padding-bottom: 200px;
  }

  header {
    margin-top: 20px;
    .navbar.navbar-light {
      padding: 0 0 20px 0;
      .navbar-brand {
        top: -5px;
        padding: 0;
        margin: 0;
        img {
          width: 130px;
        }
      }
      .navbar-toggler {
        top: 10px;
        margin-right: 0;
      }
      .navbar-nav {
        flex-direction: column;
        margin-top: 30px;
        .nav-link {
          margin-right: 0;
          text-align: center;
          line-height: 1rem;
        }
      }
    }
  }

  section.countdown_section {
    .countdown_container {
      padding: 15px 7px;
      .countdown {
        .countdown_item:not(:last-child) {
          margin-right: 5px;
        }
      }
      .title_container {
        h4 {
          font-size: 1.2rem;
        }
      }
    }
  }

  section.carousel_section {
    .homepage_carousel {
      .flickity-prev-next-button {
        width: 30px;
        height: 30px;
        top: 25%;
        &.next {
          right: 15px;
        }
        &.previous {
          right: 85px;
        }
      }
      .flickity-viewport {
        .flickity-slider {
          .carousel-cell {
            .caption {
              h1 {
                .small {
                  font-size: 1rem;
                  height: 13px;
                }
                .big {
                  font-size: 1.5rem;
                  letter-spacing: 5px;
                  height: 20px;
                  margin: 5px 0 0;
                }
              }
            }
          }
        }
      }
    }
  }

  section.posts_section {
    .carousel_container {
      .posts_carousel {
        .carousel_item {
          width: 100%;
        }
      }
    }
  }

  section.editions_section {
    margin-top: 50px;
    .edition {
      .edition_title {
        font-size: 1.6rem;
        margin-bottom: 10px;
        .year {
          font-size: 1.8rem;
        }
        .city {
          font-size: 1rem;
        }
      }
      .edition_statistics {
        letter-spacing: 0;
        span {
          font-size: .75rem;
        }
      }
      .edition_description {
        font-size: .875rem;
      }
      .edition_person {
        font-size: .9rem;
      }
      .edition__info-container {
        padding: 15px;
      }
    }
  }

  section.tickets_section {
    .countdown_container {
      .countdown {
        .countdown_item:not(:last-child) {
          margin-right: 5px;
        }
        padding: 30px 0 30px;
      }
      h3 {
        font-size: 1.5rem;
      }
    }
  }

  section.press_section {
    .press_container {
      h2 {
        font-size: 1.1rem;
      }
    }
  }

  section.privacy_policy_section {
    .privacy_policy_container {
      padding: 30px 15px;
      h1 {
        font-size: 2.5rem;
        margin-top: 20px;
      }
      h3 {
        font-size: 1rem;
      }
      p {
        font-size: .8rem
      }
      ul {
        li {
          font-size: .8rem;
        }
      }
    }
  }


  footer {
    .links_list {
      display: table;
      margin: 0 auto;
      float: none;
      padding: 0;
    }
    p {
      text-align: center;
      float: none;
      display: block;
      a {
        display: table;
        margin: 0 auto;
      }
    }
  }

  .form_group {
    margin-bottom: 10px;
  }

  .dashboard_header {
    font-size: 1.5rem;
  }
  .title--translated {
    font-size: 2.5rem;
    top: -25px;
    left: 15px;
  }

  .jeans_bg_ragged {
    padding: 30px 15px;
  }
}


@media screen and ( max-width: 400px ) {

}


