@charset "UTF-8";
/* BEGIN Thin*/
@font-face {
  font-family: 'proxima_nova_thin';
  src: url("/fonts/proxima_nova/thin/proxima_nova_thin.eot");
  src: url("/fonts/proxima_nova/thin/proxima_nova_thin.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima_nova/thin/proxima_nova_thin.woff") format("woff"), url("/fonts/proxima_nova/thin/proxima_nova_thin.ttf") format("truetype"), url("/fonts/proxima_nova/thin/proxima_nova_thin.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}

/* END Thin*/
/* BEGIN Light*/
@font-face {
  font-family: 'proxima_nova_light';
  src: url("/fonts/proxima_nova/light/proxima_nova_light.eot");
  src: url("/fonts/proxima_nova/light/proxima_nova_light.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima_nova/light/proxima_nova_light.woff") format("woff"), url("/fonts/proxima_nova/light/proxima_nova_light.ttf") format("truetype"), url("/fonts/proxima_nova/light/proxima_nova_light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

/* END Light*/
/* BEGIN Regular*/
@font-face {
  font-family: 'proxima_nova_regular';
  src: url("/fonts/proxima_nova/regular/proxima_nova_regular.eot");
  src: url("/fonts/proxima_nova/regular/proxima_nova_regular.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima_nova/regular/proxima_nova_regular.woff") format("woff"), url("/fonts/proxima_nova/regular/proxima_nova_regular.ttf") format("truetype"), url("/fonts/proxima_nova/regular/proxima_nova_regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

/* END Regular*/
/* BEGIN Semibold*/
@font-face {
  font-family: 'proxima_nova_semibold';
  src: url("/fonts/proxima_nova/semibold/proxima_nova_semibold.eot");
  src: url("/fonts/proxima_nova/semibold/proxima_nova_semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima_nova/semibold/proxima_nova_semibold.woff") format("woff"), url("/fonts/proxima_nova/semibold/proxima_nova_semibold.ttf") format("truetype"), url("/fonts/proxima_nova/semibold/proxima_nova_semibold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

/* END Semibold*/
/* BEGIN Bold*/
@font-face {
  font-family: 'proxima_nova_bold';
  src: url("/fonts/proxima_nova/bold/proxima_nova_bold.eot");
  src: url("/fonts/proxima_nova/bold/proxima_nova_bold.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima_nova/bold/proxima_nova_bold.woff") format("woff"), url("/fonts/proxima_nova/bold/proxima_nova_bold.ttf") format("truetype"), url("/fonts/proxima_nova/bold/proxima_nova_bold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}

/* END Bold*/
/* BEGIN Black*/
@font-face {
  font-family: 'proxima_nova_black';
  src: url("/fonts/proxima_nova/black/proxima_nova_black.eot");
  src: url("/fonts/proxima_nova/black/proxima_nova_black.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima_nova/black/proxima_nova_black.woff") format("woff"), url("/fonts/proxima_nova/black/proxima_nova_black.ttf") format("truetype"), url("/fonts/proxima_nova/black/proxima_nova_black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

/* END Black*/
/* BEGIN Plane Crash*/
@font-face {
  font-family: 'plane_crash';
  src: url("/fonts/plane_crash/plane_crash.eot");
  src: url("/fonts/plane_crash/plane_crash.eot?#iefix") format("embedded-opentype"), url("/fonts/plane_crash/plane_crash.woff") format("woff"), url("/fonts/plane_crash/plane_crash.ttf") format("truetype"), url("/fonts/plane_crash/plane_crash.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

/* END Plane Crash*/
/* BEGIN Steelfish*/
@font-face {
  font-family: 'steelfish_regular';
  src: url("/fonts/steelfish/regular/steelfish_regular.eot");
  src: url("/fonts/steelfish/regular/steelfish_regular.eot?#iefix") format("embedded-opentype"), url("/fonts/steelfish/regular/steelfish_regular.woff") format("woff"), url("/fonts/steelfish/regular/steelfish_regular.ttf") format("truetype"), url("/fonts/steelfish/regular/steelfish_regular.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

/* END Steelfish*/
/* BEGIN Spinwerad*/
@font-face {
  font-family: 'spinwerad_c';
  src: url("/fonts/spinwerad_c/spinwerad_c.eot");
  src: url("/fonts/spinwerad_c/spinwerad_c.eot?#iefix") format("embedded-opentype"), url("/fonts/spinwerad_c/spinwerad_c.woff") format("woff"), url("/fonts/spinwerad_c/spinwerad_c.ttf") format("truetype"), url("/fonts/spinwerad_c/spinwerad_c.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}

/* END Spinwerad*/
/* BEGIN ChunkFiveEx*/
@font-face {
  font-family: '\441hunkfive_ex';
  src: url("/fonts/сhunkfive_ex/сhunkfive_ex.eot");
  src: url("/fonts/сhunkfive_ex/сhunkfive_ex.eot?#iefix") format("embedded-opentype"), url("/fonts/сhunkfive_ex/сhunkfive_ex.woff") format("woff"), url("/fonts/сhunkfive_ex/сhunkfive_ex.ttf") format("truetype"), url("/fonts/сhunkfive_ex/сhunkfive_ex.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

/* END ChunkFiveEx*/
/*Buttons style START*/
.btn {
  height: 52px;
  padding: 0 25px;
  font: 1.35rem proxima_nova_light;
  letter-spacing: 2px;
  line-height: 50px;
  border-radius: 0;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: none;
  z-index: 1;
  color: #fffaff;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #454545;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #454545), color-stop(45%, #4d4c4d), color-stop(100%, #1f1a1c));
  background: -webkit-gradient(linear, left top, left bottom, from(#454545), color-stop(45%, #4d4c4d), to(#1f1a1c));
  background: linear-gradient(to bottom, #454545 0%, #4d4c4d 45%, #1f1a1c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#1f1a1c', GradientType=0 );
}

.btn:hover {
  color: #b7866f;
}

.btn_beige {
  background: #c2947b;
  border-radius: 8px;
  height: 60px;
  color: #fffaff;
  line-height: 60px;
  padding: 0 25px;
  letter-spacing: 1px;
  font: 1.6rem proxima_nova_regular;
}

.btn_beige:hover {
  color: black;
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active {
  background: #454545;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #454545), color-stop(45%, #4d4c4d), color-stop(100%, #1f1a1c));
  background: -webkit-gradient(linear, left top, left bottom, from(#454545), color-stop(45%, #4d4c4d), to(#1f1a1c));
  background: linear-gradient(to bottom, #454545 0%, #4d4c4d 45%, #1f1a1c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#1f1a1c', GradientType=0 );
}

/*Buttons style END*/
.form_group {
  margin-bottom: 20px;
}

.form_group .form_el_label {
  line-height: 1;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  font-size: 1.4rem;
}

.form_group .form_placeholder {
  font-family: proxima_nova_thin;
  font-style: italic;
  display: block;
  margin-top: 4px;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

input,
textarea {
  border: none;
  padding: 0 12px;
  width: 100%;
  background-color: #ffffff;
  color: black;
  font-size: 1.125rem;
}

input {
  height: 50px;
}

textarea {
  height: 190px;
  padding: 12px;
  resize: none;
  display: block;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: #cccccc !important;
}

/*Select2 styles START*/
.select2 {
  width: 100% !important;
  background-color: #ffffff;
}

.select2-container--default .select2-selection--single {
  background-color: transparent;
  height: 50px;
  border-color: #cccccc;
  border-radius: 0;
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder,
.select2-container--default .select2-selection--single .select_template_placeholder {
  color: black;
  opacity: 0.4;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: black;
  line-height: 50px;
  padding-right: 20px;
  padding-left: 15px;
  font-size: 1.125rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 50px;
  width: 11px;
  top: 0;
  right: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  margin-left: 0;
  margin-top: -2px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b:before,
.select2-container--default .select2-selection--single .select2-selection__arrow b:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #7f7f7f;
  border-width: 5px;
  margin-left: -5px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #7f7f7f;
  border-width: 4px;
  margin-left: -4px;
}

.select2-container--default .select2-dropdown {
  background-color: #ffffff;
  border: 1px solid #7f7f7f;
  border-radius: 0;
}

.select2-container--default .select2-dropdown .select2-search {
  display: none;
}

.select2-container--default .select2-dropdown .select2-results {
  max-height: 223px;
}

.select2-container--default .select2-dropdown .select2-results .select2-results__options {
  padding: 10px 0;
  max-height: 100% !important;
}

.select2-container--default .select2-dropdown .select2-results .select2-results__options .select2-results__option {
  color: black;
  padding: 7px 15px 6px;
  display: table;
  width: 100%;
  font-size: 1.125rem;
}

.select2-container--default .select2-dropdown .select2-results .select2-results__options .select2-results__option span {
  vertical-align: middle;
  padding-left: 10px;
  padding-top: 5px;
  line-height: 20px;
  display: block;
  float: left;
}

.select2-container--default .select2-dropdown .select2-results .select2-results__options .select2-results__option[aria-selected=true],
.select2-container--default .select2-dropdown .select2-results .select2-results__options .select2-results__option--highlighted[aria-selected] {
  background-color: transparent;
  color: black;
}

.select2-container--default .select2-dropdown .select2-results .select2-results__options .select2-results__option[aria-selected=true] img,
.select2-container--default .select2-dropdown .select2-results .select2-results__options .select2-results__option--highlighted[aria-selected] img {
  opacity: 1;
}

.select2-container--default .select2-dropdown.select2-dropdown--below {
  top: -1px;
}

.select2-container--default .select2-dropdown.select2-dropdown--above {
  top: 1px;
}

.select2-container--default.select2-container--open .select2-selection--single {
  border-color: #7f7f7f;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border: none;
  margin-left: 0;
  margin-top: 2px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:after {
  top: initial;
  bottom: 100%;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
  border-bottom-color: #7f7f7f;
  border-top-color: transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:after {
  border-bottom-color: #7f7f7f;
  border-top-color: transparent;
}

/*Select2 styles END*/
.success {
  color: #51bf6c;
  font-family: proxima_nova_thin;
  font-size: .875rem;
}

.error {
  color: #ff6666;
  font-family: proxima_nova_thin;
  font-size: .875rem;
}

html {
  font-size: 16px;
}

body {
  background-image: url("/img/bg_main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  font-family: proxima_nova_light;
  padding-bottom: 160px;
  color: #fffaff;
}

p a {
  color: #00ffff;
}

p a:hover {
  color: #00ffff;
}

.container-fluid {
  max-width: 1200px;
}

.my_row {
  margin: 0 -5px;
}

.my_row .my_col {
  padding: 0 5px;
}

.margin_bottom_20 {
  margin-bottom: 20px;
}

.margin_top_10 {
  margin-top: 10px;
}

.margin_top_20 {
  margin-top: 20px;
}

header {
  background-image: url("/img/bg_header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 70px 0 -40px;
  position: relative;
  z-index: 9999;
}

header .navbar.navbar-light {
  position: relative;
  background-color: transparent;
  padding: 20px 0 20px 260px;
}

header .navbar.navbar-light .navbar-brand {
  position: absolute;
  left: 0;
  top: -50px;
  z-index: 9;
}

header .navbar.navbar-light .navbar-brand img {
  width: 250px;
}

header .navbar.navbar-light .navbar-nav .nav-link {
  font-family: proxima_nova_light;
  line-height: 3rem;
  color: #fffaff;
  text-transform: uppercase;
  font-size: 1.1rem;
  text-shadow: 1px 1px 5px #000000;
  letter-spacing: 2px;
  position: relative;
  white-space: nowrap;
}

header .navbar.navbar-light .navbar-nav .nav-link.active {
  font-family: proxima_nova_bold;
}

header .navbar.navbar-light .navbar-nav .nav-link.active:before {
  content: '';
  width: 70px;
  height: 8px;
  background: url("/img/nav_selector.png") no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-35px);
  transform: translateX(-35px);
}

header .navbar.navbar-light .navbar-toggler {
  overflow: hidden;
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 0;
}

header .navbar.navbar-light .navbar-toggler:hover, header .navbar.navbar-light .navbar-toggler:focus, header .navbar.navbar-light .navbar-toggler:active {
  outline: none;
}

header .navbar.navbar-light .navbar-toggler .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

header .navbar.navbar-light .navbar-toggler .icon-bar {
  display: block;
  width: 40px;
  height: 2px;
  border-radius: 1px;
  background-color: #ffffff;
  -webkit-transition: opacity, -webkit-transform;
  transition: opacity, -webkit-transform;
  transition: opacity, transform;
  transition: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
          transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
}

header .navbar.navbar-light .navbar-toggler .icon-bar + .icon-bar {
  margin-top: 10px;
}

header .navbar.navbar-light .navbar-toggler[aria-expanded="true"] .icon-bar:nth-child(1) {
  -webkit-transform: translateY(12px) rotate(45deg);
  transform: translateY(12px) rotate(45deg);
}

header .navbar.navbar-light .navbar-toggler[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

header .navbar.navbar-light .navbar-toggler[aria-expanded="true"] .icon-bar:nth-child(3) {
  -webkit-transform: translateY(-12px) rotate(-45deg);
  transform: translateY(-12px) rotate(-45deg);
}

section.carousel_section {
  margin-top: 60px;
}

section.carousel_section .homepage_carousel .flickity-viewport .flickity-slider .carousel-cell {
  width: 100%;
  height: auto;
  background: black;
  border-radius: 0;
  position: relative;
}

section.carousel_section .homepage_carousel .flickity-viewport .flickity-slider .carousel-cell:before {
  display: none;
}

section.carousel_section .homepage_carousel .flickity-viewport .flickity-slider .carousel-cell img {
  width: 100%;
}

section.carousel_section .homepage_carousel .flickity-viewport .flickity-slider .carousel-cell .caption {
  position: absolute;
  bottom: 120px;
  left: 40px;
}

section.carousel_section .homepage_carousel .flickity-viewport .flickity-slider .carousel-cell .caption h1 {
  color: #fffaff;
  font-family: сhunkfive_ex;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 2px 2px 15px black;
}

section.carousel_section .homepage_carousel .flickity-viewport .flickity-slider .carousel-cell .caption h1 .big {
  font-size: 6rem;
  letter-spacing: 5px;
  display: block;
  line-height: 1;
  height: 75px;
  margin: 5px 0;
}

section.carousel_section .homepage_carousel .flickity-viewport .flickity-slider .carousel-cell .caption h1 .small {
  font-size: 3rem;
  line-height: 1;
  letter-spacing: 3px;
  display: block;
  color: #bf3737;
  height: 36px;
}

section.carousel_section .homepage_carousel .flickity-prev-next-button {
  background: rgba(0, 0, 0, 0.75);
  width: 40px;
  height: 40px;
}

section.carousel_section .homepage_carousel .flickity-prev-next-button.next {
  right: 60px;
}

section.carousel_section .homepage_carousel .flickity-prev-next-button.previous {
  left: 60px;
}

section.carousel_section .homepage_carousel .flickity-prev-next-button:hover {
  background: black;
}

section.carousel_section .homepage_carousel .flickity-prev-next-button:disabled {
  display: none;
}

section.carousel_section .homepage_carousel .flickity-prev-next-button .arrow {
  fill: #fffaff;
}

section.countdown_section {
  margin-top: 10px;
}

section.countdown_section .countdown_container {
  padding: 35px;
}

section.countdown_section .countdown_container .title_container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

section.countdown_section .countdown_container .title_container img {
  max-width: 400px;
  width: 100%;
}

section.countdown_section .countdown_container .title_container h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: proxima_nova_black;
  font-size: 2.4rem;
  letter-spacing: 5px;
  position: relative;
  line-height: .9;
  color: #fffaff;
}

section.tickets_section .countdown_container {
  position: relative;
  padding: 90px 30px 45px;
}

section.tickets_section .countdown_container .countdown {
  max-width: 790px;
  margin: 0 auto;
  padding: 100px 0;
}

section.tickets_section .countdown_container h3 {
  font-family: proxima_nova_thin;
  font-size: 4rem;
  text-align: right;
  margin: 0;
}

.countdown_container .countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.countdown_container .countdown .countdown_item {
  width: 25%;
}

.countdown_container .countdown .countdown_item:not(:last-child) {
  margin-right: 15px;
}

section.posts_section {
  color: white;
}

section.posts_section .carousel_container {
  overflow: hidden;
}

section.posts_section .carousel_container .posts_carousel {
  margin: 10px -5px 0;
}

section.posts_section .carousel_container .posts_carousel .carousel_item {
  padding: 0 5px;
  width: 33.3%;
}

section.posts_section .carousel_container .posts_carousel .flickity-page-dots {
  top: -25px;
  bottom: initial;
}

section.posts_section .carousel_container .posts_carousel .flickity-page-dots .dot {
  width: 14px;
  height: 14px;
  margin: 0 6px;
  opacity: .6;
}

section.posts_section .carousel_container .posts_carousel .flickity-page-dots .dot.is-selected {
  opacity: .9;
}

section.posts_section .post_block {
  padding: 25px;
}

section.posts_section .post_block h5 {
  font-family: proxima_nova_bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1;
  font-size: 1.5rem;
}

section.posts_section .post_block h6 {
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #b7866f;
  line-height: 1;
  margin-bottom: 5px;
}

section.posts_section .post_block p {
  font-family: proxima_nova_thin;
  font-size: 1rem;
  line-height: 1.1;
  margin: 0;
}

section.posts_section .post_block .social_links {
  text-align: right;
  position: absolute;
  top: -17px;
  right: -10px;
  display: table;
  line-height: 1;
}

section.posts_section .post_block .social_links a {
  margin-right: 6px;
  font-size: 16px;
  line-height: 1;
  color: #7f7f7f;
}

section.posts_section .post_block .social_links a:hover {
  color: #fffaff;
}

section.posts_section .post_block .social_links a:last-of-type {
  margin: 0;
}

section.thumbnails_section {
  margin-top: 10px;
}

section.thumbnails_section .page_thumbnail {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 325px;
  position: relative;
  margin-bottom: 10px;
}

section.thumbnails_section .page_thumbnail.first {
  background-image: url("/img/thumbnails/thumbnail_1.png");
}

section.thumbnails_section .page_thumbnail.second {
  background-image: url("/img/thumbnails/thumbnail_2.png");
}

section.thumbnails_section .page_thumbnail.third {
  background-image: url("/img/thumbnails/thumbnail_3.png");
}

section.thumbnails_section .page_thumbnail h2 {
  color: #fffaff;
  text-transform: uppercase;
  font-family: proxima_nova_black;
  font-size: 2.6rem;
  line-height: 1;
  letter-spacing: 2px;
  position: absolute;
  bottom: 90px;
  left: 30px;
  margin: 0;
}

section.thumbnails_section .page_thumbnail h2 span {
  color: #b7866f;
  display: block;
}

section.thumbnails_section .page_thumbnail .btn {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

section.about_section {
  font-size: 1rem;
}

section.about_section img {
  width: 100%;
}

section.about_section .about_container p {
  font-family: proxima_nova_thin;
  line-height: 1.2;
  letter-spacing: 0px;
  font-size: 1.2rem;
}

section.about_section .about_container .img_btn {
  margin-top: 20px;
  display: block;
}

section.about_section .about_container .img_btn img {
  width: 225px;
}

section.gallery_section {
  margin-top: 50px;
}

section.gallery_section .cbp-l-filters-alignCenter {
  margin: 0;
  padding: 30px 0;
  text-shadow: 0 2px 10px black;
}

section.gallery_section .cbp-l-filters-alignCenter .cbp-filter-item {
  font-family: proxima_nova_light;
  color: #fffaff;
  text-transform: uppercase;
  font-size: 0.95rem;
  margin: 0;
  line-height: 2;
  letter-spacing: 1px;
}

section.gallery_section .cbp-l-filters-alignCenter .cbp-filter-item.cbp-filter-item-active {
  font-family: proxima_nova_semibold;
  color: #00ffff;
}

section.gallery_section .cbp-l-filters-alignCenter span {
  font-family: proxima_nova_light;
  font-size: 1rem;
  line-height: 2rem;
}

section.gallery_section .cbp-item {
  border-radius: 6px;
}

section.gallery_section .cbp-item img {
  max-width: 400px;
  max-height: 400px;
}

section.gallery_section .cbp-caption-activeWrap {
  background-color: rgba(0, 0, 0, 0.7);
}

section.editions_section {
  margin-top: 80px;
}

section.editions_section .edition {
  background-color: black;
  color: #fffaff;
  position: relative;
}

section.editions_section .edition:not(:last-child) {
  margin-bottom: 20px;
}

section.editions_section .edition .edition__info-container {
  padding: 25px 0 25px 30px;
}

section.editions_section .edition .edition_title {
  font-family: proxima_nova_thin;
  font-size: 3.4rem;
  letter-spacing: 2px;
  margin: 0 0 7px 0;
  line-height: 1;
}

section.editions_section .edition .edition_title .city {
  font-size: 1.35rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
}

section.editions_section .edition .edition_title .year {
  font-family: proxima_nova_semibold;
  color: #a96b58;
  font-size: 3.6rem;
}

section.editions_section .edition .edition_statistics {
  font-size: .7rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
}

section.editions_section .edition .edition_statistics span {
  font-family: proxima_nova_regular;
  display: inline-block;
  padding: 3px 7px 2px;
  border: 1px solid #a96b58;
  color: #a96b58;
  margin-right: 10px;
  letter-spacing: 0;
  font-size: 1rem;
}

section.editions_section .edition .edition_statistics span sup {
  font-size: .6rem;
  letter-spacing: 1px;
}

section.editions_section .edition .edition_description {
  color: #b7866f;
  font-size: 1.1rem;
  font-family: proxima_nova_light;
  line-height: 1.2;
  letter-spacing: 1px;
}

section.editions_section .edition .edition_person {
  line-height: 1;
  margin: 0 0 7px 0;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

section.editions_section .edition .edition_person span {
  color: #7f7f7f;
  margin-right: 7px;
}

section.editions_section .edition .edition__stars {
  padding-top: 5px;
  font-size: .8rem;
  color: #d5834e;
}

section.editions_section .edition .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 58px;
  height: 0;
  overflow: hidden;
}

section.editions_section .edition .video-container iframe,
section.editions_section .edition .video-container object,
section.editions_section .edition .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.contact_section .contact_container {
  position: relative;
}

section.contact_section .contact_container form button {
  margin: 30px 0 35px;
}

section.contact_section .contact_container .address {
  font-family: proxima_nova_thin;
  letter-spacing: 1px;
  line-height: 1.3;
  margin-bottom: 25px;
  font-size: 1.2rem;
}

section.contact_section .contact_container .tel {
  font-family: proxima_nova_thin;
  margin-bottom: 0;
  font-size: 1.2rem;
}

section.press_section .press_container {
  background-image: url(/img/presse/bg.png);
  padding-bottom: 250px;
}

section.press_section .press_container h2 {
  color: #b7866f;
  position: relative;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 20px;
}

section.press_section .press_container h2:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  max-width: 209px;
  background: #b7866f;
  position: absolute;
  bottom: -5px;
}

section.press_section .press_container .paragraph {
  max-width: 58%;
}

section.press_section .press_container .download_link {
  float: left;
  margin-right: 15px;
}

section.press_section .press_container .download_link img {
  width: 40px;
}

section.press_section .press_container .article_block {
  margin: 0 10px 20px;
}

section.press_section .press_container .article_block .article_img {
  background-size: cover;
  background-position: center;
  position: relative;
}

section.press_section .press_container .article_block .article_img a.article_link {
  display: block;
  height: 180px;
}

section.press_section .press_container .article_block .article_img .links_block {
  position: absolute;
  top: 10px;
  right: 10px;
}

section.press_section .press_container .article_block .article_img .links_block a {
  color: #00ffff;
  font-size: 20px;
}

section.press_section .press_container .article_block .article_img .links_block a:not(:last-child) {
  margin-right: 10px;
}

section.press_section .press_container .article_block .article_info {
  padding: 15px;
  position: relative;
}

section.press_section .press_container .article_block .article_info .date_container {
  font-size: 2rem;
  margin: 0;
}

section.press_section .press_container .article_block .article_info .date_container.month {
  font-size: 1rem;
}

section.press_section .press_container .article_block .article_info h3 {
  font-family: proxima_nova_bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

section.press_section .press_container .article_block .article_info h4 {
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #b7866f;
  line-height: 1;
  margin-bottom: 5px;
}

section.press_section .press_container .article_block .article_info p {
  line-height: 1;
  font-family: proxima_nova_thin;
  text-align: justify;
  font-size: .875rem;
  margin: 0;
}

section.press_section .modal .modal-body {
  padding: 0;
  position: relative;
}

section.press_section .modal .modal-body .close {
  position: absolute;
  right: 15px;
  top: 8px;
  color: white;
}

section.press_section .modal .modal-body img {
  width: 100%;
}

section.partners_section .partners_container h2 {
  margin-bottom: 20px;
}

section.partners_section .partners_container .partners_carousel {
  margin-bottom: 30px;
}

section.partners_section .partners_container .partners_carousel .carousel_item {
  width: 20%;
}

section.partners_section .partners_container .partners_carousel .carousel_item .partner {
  background: white;
  margin: 0 5px;
}

section.partners_section .partners_container .partners_carousel .carousel_item .partner img {
  width: 100%;
}

section.partners_section .partners_container .partners_carousel .flickity-prev-next-button {
  background: rgba(0, 0, 0, 0.75);
  width: 40px;
  height: 40px;
}

section.partners_section .partners_container .partners_carousel .flickity-prev-next-button.next {
  right: -60px;
}

section.partners_section .partners_container .partners_carousel .flickity-prev-next-button.previous {
  left: -60px;
}

section.partners_section .partners_container .partners_carousel .flickity-prev-next-button:hover {
  background: black;
}

section.partners_section .partners_container .partners_carousel .flickity-prev-next-button:disabled {
  display: none;
}

section.partners_section .partners_container .partners_carousel .flickity-prev-next-button .arrow {
  fill: #fffaff;
}

section.privacy_policy_section .privacy_policy_container {
  padding: 90px 125px;
  background: rgba(21, 21, 21, 0.99);
  font-family: proxima_nova_thin;
}

section.privacy_policy_section .privacy_policy_container h1 {
  font-size: 3rem;
  margin: 0 0 20px;
}

section.privacy_policy_section .privacy_policy_container h3 {
  font-size: 1.2rem;
  margin: 20px 0 10px;
  font-family: proxima_nova_regular;
}

section.privacy_policy_section .privacy_policy_container p {
  font-size: .875rem;
}

.jeans_bg {
  background: url("/img/jeans_texture_plain.jpg") no-repeat center;
  background-size: cover;
}

.jeans_bg_ragged {
  background: url("/img/jeans_texture.png") no-repeat bottom;
  background-size: cover;
  position: relative;
  padding: 90px 125px;
}

.jeans_bg_big {
  background: url("/img/jeans_texture_plain.jpg") repeat-y;
  background-size: cover;
  position: relative;
  padding: 90px 125px;
}

.img_container {
  margin-bottom: -20px;
}

.img_container img {
  width: 100%;
}

.date_container {
  font-family: plane_crash;
  padding: 10px 5px;
  margin-right: 5px;
  text-align: center;
  background: #454545;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #454545), color-stop(45%, #4d4c4d), color-stop(100%, #1f1a1c));
  background: -webkit-gradient(linear, left top, left bottom, from(#454545), color-stop(45%, #4d4c4d), to(#1f1a1c));
  background: linear-gradient(to bottom, #454545 0%, #4d4c4d 45%, #1f1a1c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#1f1a1c', GradientType=0 );
  font-size: 2.5rem;
  line-height: 1;
}

.date_container.month {
  font-size: 1.2rem;
}

.title--translated {
  font-family: proxima_nova_thin;
  font-size: 10rem;
  position: absolute;
  top: -92px;
  left: 115px;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 45px 0 20px;
  background: url("/img/bg_footer.png") top no-repeat;
  background-size: cover;
  z-index: 999;
}

footer p {
  margin: 0;
  color: #fffaff;
  font-size: 0.875rem;
  text-align: right;
  font-family: proxima_nova_thin;
  display: inline-block;
  float: right;
}

footer p a {
  color: #fffaff;
  text-decoration: none;
  margin-left: 5px;
}

footer p a:not(.social):hover {
  text-decoration: none;
  color: #fffaff;
  border-bottom: 1px solid #fffaff;
}

footer p a.social {
  font-size: 26px;
  line-height: 16px;
  display: inline-block;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

footer p a.social:hover {
  color: #fffaff;
  -webkit-transform: scale(1.2) translateY(4px);
          transform: scale(1.2) translateY(4px);
}

footer .links_list {
  list-style: none;
  float: right;
  padding: 0 0 0 20px;
  margin: 0;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

footer .links_list li {
  display: inline-block;
  padding: 0 5px;
}

footer .links_list li:nth-child(4) {
  padding-left: 10px;
}

footer .links_list li a {
  color: #fffaff;
  text-decoration: none;
  display: inline-block;
}

footer .links_list li a.social {
  font-size: 26px;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

footer .links_list li a.social:hover {
  color: #fffaff;
  -webkit-transform: scale(1.2) translateY(4px);
          transform: scale(1.2) translateY(4px);
}

footer .links_list li a.lang {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  opacity: .5;
}

footer .links_list li a.lang:hover {
  -webkit-transform: scale(1.2) translateY(-2px);
          transform: scale(1.2) translateY(-2px);
  opacity: .75;
}

footer .links_list li a.lang.active {
  opacity: 1;
}

footer .links_list li a img {
  width: 26px;
}

.slick-slider .slick-arrow {
  background: rgba(0, 0, 0, 0.75);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  border: none;
  z-index: 99;
  cursor: pointer;
  border-radius: 50%;
}

.slick-slider .slick-arrow img {
  width: 100%;
}

.slick-slider .slick-arrow.slick-prev {
  left: -50px;
}

.slick-slider .slick-arrow.slick-next {
  right: -50px;
}

.img_btn {
  text-decoration: none;
}

.img_btn img {
  width: 225px;
}

.img_btn:hover, .img_btn:active {
  text-decoration: none;
}

.dashboard_header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 30px;
  color: white;
  font-size: 30px;
}

.dashboard_header .action_link {
  margin-right: 15px;
  color: white;
}

.dashboard_header .action_link:hover {
  color: #00ffff;
}

.dashboard_header .action_link.add_new {
  float: right;
  margin: 0;
}

.outer_block_container .inner_block_container {
  padding: 30px;
  background: rgba(0, 0, 0, 0.7);
}

.admin_items_list_section {
  margin-top: 40px;
}

.admin_items_list_section .admin_item_info_block {
  position: relative;
  display: table;
}

.admin_items_list_section .admin_item_info_block .edit_elements {
  position: absolute;
  top: 10px;
  right: 10px;
}

.admin_items_list_section .admin_item_info_block .edit_elements > * {
  display: inline-block;
}

.admin_items_list_section .admin_item_info_block .edit_elements button {
  background: none;
  border: none;
  color: white;
}

.admin_items_list_section .admin_item_info_block .edit_elements button:hover {
  color: #00ffff;
}

.admin_items_list_section .admin_item_info_block .edit_elements a {
  color: white;
}

.admin_items_list_section .admin_item_info_block .edit_elements a:hover {
  color: #00ffff;
}

.admin_items_list_section .admin_item_info_block .admin_item_info {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
}

.admin_items_list_section .admin_item_info_block .admin_item_info h2 {
  color: white;
  margin: 0;
  line-height: 1;
  width: 100%;
  padding: 5px 15px;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.8);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admin_items_list_section .admin_item_info_block .admin_item_img img {
  width: 100%;
}

.admin_edit_section {
  margin-top: 40px;
}

.admin_edit_section .outer_block_container .inner_block_container form .label_container .form_el_label {
  color: white;
  margin-bottom: 0;
}

.admin_edit_section .outer_block_container .inner_block_container form .label_container ul.nav.nav-tabs {
  border: none;
  float: right;
  margin: 0;
}

.admin_edit_section .outer_block_container .inner_block_container form .label_container ul.nav.nav-tabs li.nav-item:not(:last-of-type) {
  margin-right: 10px !important;
}

.admin_edit_section .outer_block_container .inner_block_container form .label_container ul.nav.nav-tabs li.nav-item a.nav-link {
  line-height: 1;
  font-size: 0.875rem;
  border-radius: 0;
  border: none;
  color: rgba(255, 250, 255, 0.5);
  padding: 0;
}

.admin_edit_section .outer_block_container .inner_block_container form .label_container ul.nav.nav-tabs li.nav-item a.nav-link.active {
  color: #00ffff;
  background: none;
}

.admin_edit_section .outer_block_container .inner_block_container form .input_container input, .admin_edit_section .outer_block_container .inner_block_container form .input_container textarea {
  background: rgba(255, 255, 255, 0.3);
  color: #fffaff;
}

.admin_edit_section .outer_block_container .inner_block_container form .img_upload_container {
  margin-top: 24px;
  min-height: 144px;
}

.admin_edit_section .outer_block_container .inner_block_container form .img_upload_container.sm {
  min-height: 58px;
}

.admin_edit_section .outer_block_container .inner_block_container form textarea {
  height: 133px;
}

.admin_edit_section .outer_block_container .inner_block_container form button.btn {
  float: right;
}

.card {
  margin-top: 50px;
  color: black;
}

.img_upload_container {
  border: 1px dashed gray;
  min-height: 42px;
  padding: 15px;
  position: relative;
}

.img_upload_container .img_preview .img_preview_thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  text-align: center;
}

.img_upload_container .img_preview .img_preview_thumbnail img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.img_upload_container .img_upload input.input_file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.img_upload_container .img_upload input.input_file + label {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: .875rem;
  font-family: modelica_thin;
  color: gray;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.img_upload_container .img_upload input.input_file + label span {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.img_upload_container .img_upload input.input_file + label:hover {
  background-color: rgba(0, 0, 0, 0.9);
  text-decoration: underline;
}

@media screen and (max-width: 1199px) {
  header {
    margin-bottom: -20px;
  }
  header .navbar.navbar-light {
    padding-left: 190px;
  }
  header .navbar.navbar-light .navbar-brand {
    top: -30px;
  }
  header .navbar.navbar-light .navbar-brand img {
    width: 180px;
  }
  header .navbar.navbar-light .navbar-nav .nav-link {
    font-size: 0.875rem;
  }
  section.countdown_section .countdown_container .title_container h4 {
    font-size: 2rem;
  }
  section.posts_section .post_block .date_container {
    font-size: 2rem;
    margin-right: 0;
  }
  section.posts_section .post_block .date_container.month {
    font-size: 1.2rem;
  }
  section.editions_section .edition .edition_title {
    font-size: 2.6rem;
  }
  section.editions_section .edition .edition_title .year {
    font-size: 2.8rem;
  }
  section.editions_section .edition .edition_description {
    font-size: 1rem;
    line-height: 1.1;
  }
  section.editions_section .edition .edition_person {
    margin-bottom: 3px;
  }
  section.editions_section .edition .video-container {
    padding-top: 90px;
  }
  section.gallery_section {
    margin-top: 15px;
  }
}

@media screen and (max-width: 991px) {
  header .navbar.navbar-light {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 0;
  }
  header .navbar.navbar-light .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .navbar.navbar-light .navbar-nav .nav-link {
    margin-right: 13px;
  }
  header .navbar.navbar-light .navbar-nav .nav-link:last-of-type {
    margin-right: 0;
  }
  section.carousel_section .homepage_carousel .flickity-prev-next-button {
    width: 50px;
    height: 50px;
  }
  section.carousel_section .homepage_carousel .flickity-viewport .flickity-slider .carousel-cell .caption {
    bottom: 40px;
    left: 40px;
  }
  section.carousel_section .homepage_carousel .flickity-viewport .flickity-slider .carousel-cell .caption h1 .small {
    font-size: 2rem;
    height: 25px;
  }
  section.carousel_section .homepage_carousel .flickity-viewport .flickity-slider .carousel-cell .caption h1 .big {
    font-size: 4rem;
    height: 50px;
  }
  section.countdown_section .countdown_container .title_container h4 {
    font-size: 1.5rem;
  }
  section.posts_section .post_block .date_container {
    font-size: 1.3rem;
    margin-right: 0;
  }
  section.posts_section .post_block .date_container.month {
    font-size: 0.75rem;
  }
  section.posts_section .post_block p {
    font-size: 0.75rem;
    margin: 0;
  }
  section.thumbnails_section .page_thumbnail {
    height: 225px;
  }
  section.thumbnails_section .page_thumbnail h2 {
    font-size: 1.5rem;
  }
  section.editions_section .edition .video-container {
    padding-top: 160px;
  }
  section.tickets_section .countdown_container .countdown {
    padding: 45px 0 60px;
  }
  section.tickets_section .countdown_container h3 {
    font-size: 3rem;
  }
  section.press_section .press_container {
    padding-bottom: 200px;
  }
  section.privacy_policy_section .privacy_policy_container {
    padding: 85px;
  }
  .title--translated {
    font-size: 8rem;
    top: -85px;
    left: 85px;
  }
  .jeans_bg_ragged {
    padding: 85px;
  }
}

@media screen and (max-width: 767px) {
  header {
    margin-top: 40px;
    margin-bottom: -10px;
  }
  header .navbar.navbar-light .navbar-nav {
    margin: 0 0 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .navbar.navbar-light .navbar-nav .nav-link {
    margin-right: 0;
    text-align: center;
    line-height: 1rem;
  }
  header .navbar.navbar-light .navbar-nav .nav-link.active:before {
    bottom: 0;
  }
  section.carousel_section .homepage_carousel .flickity-prev-next-button {
    width: 40px;
    height: 40px;
  }
  section.carousel_section .homepage_carousel .flickity-prev-next-button.next {
    right: 45px;
  }
  section.carousel_section .homepage_carousel .flickity-prev-next-button.previous {
    right: 115px;
  }
  section.carousel_section .homepage_carousel .flickity-viewport .flickity-slider .carousel-cell .caption {
    bottom: 15px;
    left: 25px;
  }
  section.carousel_section .homepage_carousel .flickity-viewport .flickity-slider .carousel-cell .caption h1 .big {
    font-size: 3rem;
    letter-spacing: 8px;
    height: 37px;
  }
  section.countdown_section .countdown_container .ticket_container {
    padding: 0 0 0 15px;
  }
  section.countdown_section .countdown_container .ticket_container img#arrow {
    width: 100px;
  }
  section.countdown_section .countdown_container .countdown {
    padding: 0;
    margin: 0 auto;
  }
  section.posts_section .carousel_container .posts_carousel .carousel_item {
    width: 50%;
  }
  section.about_section .about_container p {
    font-size: 1rem;
    line-height: 1.1;
  }
  section.about_section .about_container h3 {
    font-size: 1.2rem;
  }
  section.editions_section {
    margin-top: 60px;
  }
  section.editions_section .edition .edition__info-container {
    padding: 25px;
  }
  section.editions_section .edition .video-container {
    padding-top: 0;
  }
  section.tickets_section .countdown_container .countdown {
    padding: 30px 0 30px;
  }
  section.tickets_section .countdown_container h3 {
    font-size: 2rem;
  }
  section.press_section .press_container .paragraph {
    max-width: 100%;
  }
  section.partners_section .partners_container h2 {
    font-size: 1.2rem;
  }
  section.partners_section .partners_container .partners_carousel .flickity-prev-next-button.next {
    right: -43px;
  }
  section.partners_section .partners_container .partners_carousel .flickity-prev-next-button.previous {
    left: -43px;
  }
  section.contact_section .contact_container form button {
    margin-top: 15px;
  }
  section.contact_section .contact_container .address {
    font-size: 1rem;
  }
  section.contact_section .contact_container .tel {
    font-size: 1rem;
  }
  section.privacy_policy_section .privacy_policy_container {
    padding: 50px;
  }
  .title--translated {
    font-size: 5rem;
    top: -50px;
    left: 50px;
  }
  .jeans_bg_ragged {
    padding: 50px;
  }
  .form_group .form_el_label {
    font-size: 1rem;
  }
  .form_group .form_placeholder {
    font-size: .75rem;
  }
  .btn_beige {
    font-size: 1.2rem;
    height: 50px;
  }
}

@media screen and (max-width: 885px) {
  section.gallery_section .cbp-caption-activeWrap {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  body {
    padding-bottom: 200px;
  }
  header {
    margin-top: 20px;
  }
  header .navbar.navbar-light {
    padding: 0 0 20px 0;
  }
  header .navbar.navbar-light .navbar-brand {
    top: -10px;
    padding: 0;
    margin: 0;
  }
  header .navbar.navbar-light .navbar-brand img {
    width: 130px;
  }
  header .navbar.navbar-light .navbar-toggler {
    top: 10px;
    margin-right: 0;
  }
  header .navbar.navbar-light .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
  header .navbar.navbar-light .navbar-nav .nav-link {
    margin-right: 0;
    text-align: center;
    line-height: 1rem;
  }
  section.countdown_section .countdown_container {
    padding: 15px 7px;
  }
  section.countdown_section .countdown_container .countdown .countdown_item:not(:last-child) {
    margin-right: 5px;
  }
  section.countdown_section .countdown_container .title_container h4 {
    font-size: 1.2rem;
  }
  section.carousel_section .homepage_carousel .flickity-prev-next-button {
    width: 30px;
    height: 30px;
    top: 25%;
  }
  section.carousel_section .homepage_carousel .flickity-prev-next-button.next {
    right: 15px;
  }
  section.carousel_section .homepage_carousel .flickity-prev-next-button.previous {
    right: 85px;
  }
  section.carousel_section .homepage_carousel .flickity-viewport .flickity-slider .carousel-cell .caption h1 .small {
    font-size: 1rem;
    height: 13px;
  }
  section.carousel_section .homepage_carousel .flickity-viewport .flickity-slider .carousel-cell .caption h1 .big {
    font-size: 1.5rem;
    letter-spacing: 5px;
    height: 20px;
    margin: 5px 0 0;
  }
  section.posts_section .carousel_container .posts_carousel .carousel_item {
    width: 100%;
  }
  section.editions_section {
    margin-top: 50px;
  }
  section.editions_section .edition .edition_title {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  section.editions_section .edition .edition_title .year {
    font-size: 1.8rem;
  }
  section.editions_section .edition .edition_title .city {
    font-size: 1rem;
  }
  section.editions_section .edition .edition_statistics {
    letter-spacing: 0;
  }
  section.editions_section .edition .edition_statistics span {
    font-size: .75rem;
  }
  section.editions_section .edition .edition_description {
    font-size: .875rem;
  }
  section.editions_section .edition .edition_person {
    font-size: .9rem;
  }
  section.editions_section .edition .edition__info-container {
    padding: 15px;
  }
  section.tickets_section .countdown_container .countdown {
    padding: 30px 0 30px;
  }
  section.tickets_section .countdown_container .countdown .countdown_item:not(:last-child) {
    margin-right: 5px;
  }
  section.tickets_section .countdown_container h3 {
    font-size: 1.5rem;
  }
  section.press_section .press_container h2 {
    font-size: 1.1rem;
  }
  section.about_section .about_container h3 {
    font-size: 1.1rem;
  }
  section.about_section .about_container p {
    font-size: .85rem;
  }
  section.partners_section .partners_container .partners_carousel .carousel_item {
    width: 25%;
  }
  section.partners_section .partners_container .partners_carousel .flickity-prev-next-button {
    width: 30px;
    height: 30px;
  }
  section.partners_section .partners_container .partners_carousel .flickity-prev-next-button.next {
    right: -10px;
  }
  section.partners_section .partners_container .partners_carousel .flickity-prev-next-button.previous {
    left: -10px;
  }
  section.privacy_policy_section .privacy_policy_container {
    padding: 30px 15px;
  }
  section.privacy_policy_section .privacy_policy_container h1 {
    font-size: 2.5rem;
    margin-top: 20px;
  }
  section.privacy_policy_section .privacy_policy_container h3 {
    font-size: 1rem;
  }
  section.privacy_policy_section .privacy_policy_container p {
    font-size: .8rem;
  }
  section.privacy_policy_section .privacy_policy_container ul li {
    font-size: .8rem;
  }
  footer .links_list {
    display: table;
    margin: 0 auto;
    float: none;
    padding: 0;
  }
  footer p {
    text-align: center;
    float: none;
    display: block;
  }
  footer p a {
    display: table;
    margin: 0 auto;
  }
  .form_group {
    margin-bottom: 10px;
  }
  .dashboard_header {
    font-size: 1.5rem;
  }
  .title--translated {
    font-size: 2.5rem;
    top: -25px;
    left: 15px;
  }
  .jeans_bg_ragged {
    padding: 30px 15px;
  }
}
