/* BEGIN Light*/
@font-face {
  font-family: 'proxima_nova_light';
  src: url("/fonts/proxima_nova/light/proxima_nova_light.eot");
  src: url("/fonts/proxima_nova/light/proxima_nova_light.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima_nova/light/proxima_nova_light.woff") format("woff"), url("/fonts/proxima_nova/light/proxima_nova_light.ttf") format("truetype"), url("/fonts/proxima_nova/light/proxima_nova_light.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}

/* END Light*/
/* BEGIN Regular*/
@font-face {
  font-family: 'proxima_nova_regular';
  src: url("/fonts/proxima_nova/regular/proxima_nova_regular.eot");
  src: url("/fonts/proxima_nova/regular/proxima_nova_regular.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima_nova/regular/proxima_nova_regular.woff") format("woff"), url("/fonts/proxima_nova/regular/proxima_nova_regular.ttf") format("truetype"), url("/fonts/proxima_nova/regular/proxima_nova_regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

/* END Regular*/
/* BEGIN Bold*/
@font-face {
  font-family: 'proxima_nova_bold';
  src: url("/fonts/proxima_nova/bold/proxima_nova_bold.eot");
  src: url("/fonts/proxima_nova/bold/proxima_nova_bold.eot?#iefix") format("embedded-opentype"), url("/fonts/proxima_nova/bold/proxima_nova_bold.woff") format("woff"), url("/fonts/proxima_nova/bold/proxima_nova_bold.ttf") format("truetype"), url("/fonts/proxima_nova/bold/proxima_nova_bold.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

/* END Bold*/
/* BEGIN Plane Crash*/
@font-face {
  font-family: 'plane_crash';
  src: url("/fonts/plane_crash/plane_crash.eot");
  src: url("/fonts/plane_crash/plane_crash.eot?#iefix") format("embedded-opentype"), url("/fonts/plane_crash/plane_crash.woff") format("woff"), url("/fonts/plane_crash/plane_crash.ttf") format("truetype"), url("/fonts/plane_crash/plane_crash.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

/* END Plane Crash*/
body {
  background-image: url("/img/bg_main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  font-family: proxima_nova_light;
  padding-bottom: 300px;
}

.container-fluid {
  max-width: 1200px;
}

header {
  background-image: url("/img/bg_header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

header:before {
  content: '';
  height: 55px;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url("/img/bg_header_top.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

header .navbar.navbar-light {
  position: relative;
  background-color: transparent;
  padding: 60px 0 30px 230px;
}

header .navbar.navbar-light .navbar-brand {
  position: absolute;
  left: 0;
  top: 30px;
}

header .navbar.navbar-light .navbar-brand img {
  width: 215px;
}

header .navbar.navbar-light .navbar-nav .nav-link {
  font-family: proxima_nova_light;
  line-height: 3rem;
  color: #fadfc3;
  text-transform: uppercase;
  font-size: 0.95rem;
  letter-spacing: 1px;
}

header .navbar.navbar-light .navbar-nav .nav-link:before {
  content: '';
  width: 5px;
  height: 5px;
  background: #fadfc3;
}

header .navbar.navbar-light .navbar-nav .nav-link.active {
  font-family: proxima_nova_bold;
  color: #ffffc5;
}

header .navbar.navbar-light .navbar-toggler {
  overflow: hidden;
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 0;
}

header .navbar.navbar-light .navbar-toggler:hover, header .navbar.navbar-light .navbar-toggler:focus, header .navbar.navbar-light .navbar-toggler:active {
  outline: none;
}

header .navbar.navbar-light .navbar-toggler .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

header .navbar.navbar-light .navbar-toggler .icon-bar {
  display: block;
  width: 40px;
  height: 2px;
  border-radius: 1px;
  background-color: #ffffff;
  -webkit-transition: opacity, -webkit-transform;
  transition: opacity, -webkit-transform;
  transition: opacity, transform;
  transition: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
          transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
}

header .navbar.navbar-light .navbar-toggler .icon-bar + .icon-bar {
  margin-top: 10px;
}

header .navbar.navbar-light .navbar-toggler[aria-expanded="true"] .icon-bar:nth-child(1) {
  -webkit-transform: translateY(12px) rotate(45deg);
  transform: translateY(12px) rotate(45deg);
}

header .navbar.navbar-light .navbar-toggler[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

header .navbar.navbar-light .navbar-toggler[aria-expanded="true"] .icon-bar:nth-child(3) {
  -webkit-transform: translateY(-12px) rotate(-45deg);
  transform: translateY(-12px) rotate(-45deg);
}

section.carousel_section {
  margin-top: 55px;
}

section.carousel_section .homepage_carousel .flickity-viewport .flickity-slider .carousel-cell {
  width: 100%;
  height: auto;
  background: black;
  border-radius: 0;
  position: relative;
}

section.carousel_section .homepage_carousel .flickity-viewport .flickity-slider .carousel-cell:before {
  display: none;
}

section.carousel_section .homepage_carousel .flickity-viewport .flickity-slider .carousel-cell img {
  width: 100%;
}

section.carousel_section .homepage_carousel .flickity-viewport .flickity-slider .carousel-cell .caption {
  position: absolute;
  bottom: 100px;
  left: 40px;
}

section.carousel_section .homepage_carousel .flickity-viewport .flickity-slider .carousel-cell .caption h1 {
  color: #fadfc3;
  font-family: plane_crash;
  font-size: 2.2rem;
}

section.carousel_section .homepage_carousel .flickity-viewport .flickity-slider .carousel-cell .caption h1 span {
  font-size: 4rem;
  display: block;
  color: #a83b40;
}

section.carousel_section .homepage_carousel .flickity-prev-next-button {
  background: rgba(168, 59, 64, 0.75);
  width: 60px;
  height: 60px;
}

section.carousel_section .homepage_carousel .flickity-prev-next-button.next {
  right: 60px;
}

section.carousel_section .homepage_carousel .flickity-prev-next-button.previous {
  left: 60px;
}

section.carousel_section .homepage_carousel .flickity-prev-next-button:hover {
  background: #a83b40;
}

section.carousel_section .homepage_carousel .flickity-prev-next-button:disabled {
  opacity: 0.7;
}

section.carousel_section .homepage_carousel .flickity-prev-next-button .arrow {
  fill: #fadfc3;
}

section.countdown_section {
  margin-top: 15px;
}

section.countdown_section .countdown_container {
  background: black;
}

section.countdown_section .countdown_container .ticket_container {
  position: relative;
  padding-left: 35px;
}

section.countdown_section .countdown_container .ticket_container img#arrow {
  position: absolute;
  top: -40px;
  left: 40px;
  width: 170px;
}

section.countdown_section .countdown_container .ticket_container img#ticket {
  max-width: 400px;
}

section.countdown_section .countdown_container .countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding-right: 50px;
}

section.countdown_section .countdown_container .countdown .countdown_item {
  width: 25%;
}

section.posts_section {
  margin-top: 30px;
  color: white;
}

section.posts_section .post_block {
  background: black;
  border-top: 5px solid #a83b40;
}

section.about_section {
  margin-top: 50px;
  color: #fadfc3;
  font-size: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 55px 0 35px;
  background: url("/img/bg_footer.png") top no-repeat;
  background-size: cover;
  z-index: 999;
}

footer p {
  margin: 0;
  color: #e8e5d8;
  font-size: 0.875rem;
}

footer p a {
  color: #e8e5d8;
  text-decoration: none;
  margin-left: 5px;
}

footer p a:hover {
  text-decoration: none;
  color: #e8e5d8;
  border-bottom: 1px solid #e8e5d8;
}

@media screen and (max-width: 1199px) {
  header .navbar.navbar-light {
    padding-left: 170px;
  }
  header .navbar.navbar-light .navbar-brand img {
    width: 160px;
  }
  header .navbar.navbar-light .navbar-nav .nav-link {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 991px) {
  header .navbar.navbar-light {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 0;
  }
  header .navbar.navbar-light .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .navbar.navbar-light .navbar-nav .nav-link {
    margin-right: 13px;
  }
  header .navbar.navbar-light .navbar-nav .nav-link:last-of-type {
    margin-right: 0;
  }
  section.carousel_section .homepage_carousel .flickity-prev-next-button {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  header .navbar.navbar-light .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .navbar.navbar-light .navbar-nav .nav-link {
    margin-right: 0;
    text-align: center;
    line-height: 1rem;
  }
  section.carousel_section .homepage_carousel .flickity-prev-next-button {
    width: 40px;
    height: 40px;
  }
  section.carousel_section .homepage_carousel .flickity-prev-next-button.previous {
    left: 30px;
  }
  section.carousel_section .homepage_carousel .flickity-prev-next-button.next {
    right: 30px;
  }
}

@media screen and (max-width: 544px) {
  header:before {
    height: 30px;
  }
  header .navbar.navbar-light {
    padding: 20px 0 25px 0;
  }
  header .navbar.navbar-light .navbar-brand {
    top: 10px;
  }
  header .navbar.navbar-light .navbar-brand img {
    width: 130px;
  }
  header .navbar.navbar-light .navbar-toggler {
    top: 10px;
  }
  header .navbar.navbar-light .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .navbar.navbar-light .navbar-nav .nav-link {
    margin-right: 0;
    text-align: center;
    line-height: 1rem;
  }
  section.carousel_section .homepage_carousel .flickity-prev-next-button {
    width: 30px;
    height: 30px;
  }
  section.carousel_section .homepage_carousel .flickity-prev-next-button.previous {
    left: 15px;
  }
  section.carousel_section .homepage_carousel .flickity-prev-next-button.next {
    right: 15px;
  }
}
